{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Autorización Gerencia{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<hr>
<div class = "card">
        
    <div class="card-header">
        <h5>Filtro de Compras {{num_approved_requis}} {{num_requis_atendidas}}</h5>
    </div>
    <div class="card-body">
       
        {% csrf_token %}
        <form method="GET">
        <div class="row g-12">
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder= Folio"}}
                        <label style="color: #121212;" for="id_id">Folio</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor"}}
                        <label style="color: #121212;" for="id_id">Proveedor</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {{myfilter.form.req|add_class:"form-control"|append_attr:"placeholder= Requisición"}}
                        <label style="color: #121212;" for="id_id">Requisición</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-12">
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                        <label style="color: #121212;" for="id_id">Proyecto</label>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {{myfilter.form.subproyecto|add_class:"form-control"|append_attr:"placeholder= Subproyecto"}}
                        <label style="color: #121212;" for="id_id">Subproyecto</label>
                    </div>
                </div>
            </div>
            <div id="serie" class="col-lg-2 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {% render_field myfilter.form.start_date type="date" class="form-control" %}
                    <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                    </div>
                </div>
            </div>
            <div id="serie" class="col-lg-2 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        {% render_field myfilter.form.end_date type="date" class="form-control" %}
                    <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <!--onclick="regenerar()"-->
                <button id="btnBuscar" class="btn btn-outline-success btn-block btn-lg"  onclick="guardar_variable();" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <hr>
        </form>
    </div>
</div>

<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "card bg-white my-2">
    <div class="card-header">
        <h3>Autorización Gerente</h3>
    </div>
    <div class ="table-responsive-sm">
        <table class="table table-striped table-hover bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr role="row">
                    <th >Folio</th>
                    <th class="d-none d-lg-table-cell">Solicitado por</th>
                    <th class="d-none d-lg-table-cell">Proyecto</th>
                    <th class="d-none d-lg-table-cell">Subproyecto</th>
                    <th class="d-none d-lg-table-cell">Operación</th>
                    <th class="d-none d-lg-table-cell">Creado</th>
                    <th class="numeric">Proveedor</th>
                    <th class="numeric">Costo</th>
                    <th class="numeric">Moneda</th>
                    <th class="d-none d-lg-table-cell">Condición</th>
                    <th class="numeric">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <th scope="row">{{compra.folio}}</th>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.staff.staff.staff.first_name}} {{compra.req.orden.staff.staff.staff.last_name}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.proyecto.nombre}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.subproyecto.nombre}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.operacion}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.created_at|date:"d/M/Y"}} </td>
                    <td>{{compra.proveedor}}</td>
                    <td>${{compra.costo_plus_adicionales|floatformat:2}}</td>
                    <td>{{compra.moneda.nombre}} </td>
                    <td class="d-none d-lg-table-cell">{{compra.cond_de_pago.nombre}}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item m-1">
                                <a id="myBtn" type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'autorizar-oc2' compra.id %}"><i class="fa-solid fa-check"></i></a>
                            </li>
                            <li class="nav-item m-1">
                                <a type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'back-oc' compra.id %}">R<i class="fa-solid fa-backward"></i></a>
                            </li>
                            <li class="nav-item m-1">
                                <a type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-swap="innerHTML" hx-get="{% url 'cancelar-oc2' compra.id %}"><i class="fa-solid fa-xmark"></i></a>
                            </li>
                            {% if compra.proveedor.estatus.nombre == 'NUEVO' %}
                                {% if compra.comparativo_model %}
                                <li class="nav-item m-1">
                                    <a id="myBtn" type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document"  hx-get="{% url 'mostrar-comparativo' compra.comparativo_model.id %}">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                                {% endif %}
                            {% endif %}
                            <li class="nav-item m-1">
                                <a type="button" class="btn btn-outline-info btn-lg" href="{% url 'oc-pdf' compra.id%}" data-bs-toggle="tooltip" data-bs-placement="top" title="Orden de Compra"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});

(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    });
})();

var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})


</script>
{% endblock %}
</body>
</html>