{% load static %}
{% load i18n %}
<head>
    <!-- Vincular CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!--FotAwesome CDN-->
    <!--<script src="https://kit.fontawesome.com/259463dc50.js" crossorigin="anonymous"></script>-->
    <!--<script src="https://kit.fontawesome.com/b6755a6261.js" crossorigin="anonymous"></script>-->
</head>
<nav class="navbar fixed-top navbar-dark bg-dark">
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard-index' %}">
                <img src="{% static 'images/SAVIA_Logo.png' %}" alt="SAVIA" width="50" height="50" class="rounded-circle">
            </a>
            <ul class="nav nav-pills" >
                <li class="nav-item d-none d-md-table-cell">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'dashboard-index' %}">Dashboard</a>
                </li>
                {% if usuario.staff.profile_set.count > 1 %}
                <li class ="nav-item">
                    <a class="nav-link text-white d-none d-md-table-cell" aria-current="page" href="{% url 'select-profile' %}" title = "Cambiar de perfil">
                        <i class="fa-duotone fa-solid fa-rotate"></i>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white d-none d-md-table-cell" aria-current="page" href="{% url 'user-profile' %}">
                        {% if usuario.sustituto %}{{usuario.sustituto.staff.first_name}} {{usuario.sustituto.staff.last_name}} |RPA: {{usuario.staff.staff.first_name}} {{usuario.staff.staff.last_name }} {% else %} {{user.first_name}} {{user.last_name}} {% endif %}| Perfil: {{usuario.distritos.nombre}} - {{usuario.tipo.nombre}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-md-none d-sm-table-cell" aria-current="page" href="{% url 'user-profile' %}">{{user.first_name}}</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <form id="logout-form" method="post" action="{% url 'user-logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit">Logout</button>
                    </form>
                </li>
                <li class="nav-item">
                <div>
                    <div class="form-inline my-2 my-lg-0 position-relative d-none" id="cart">
                        <a href="{% url 'solicitud-checkout' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                        </a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{productosordenados}}
                        </span>
                    </div>
                    <div class="form-inline my-2 my-lg-0 position-relative d-none" id="cart2">
                        <a href="{% url 'solicitud-checkout-resurtimiento' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                        </a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{productosordenadosres}}
                        </span>
                    </div>
                </div>
                </li>
        </ul>
            {% if request.session.selected_profile_id %} 
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="z-index: 2500;">
                <div class="offcanvas-header">
                    <div class="row">
                    <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h4>
                        <a href="{% url 'user-profile' %}">
                            <img class="img-thumbnail" src="{{usuario.staff.imageURL}}" alt="Imagen de Usuario" id="menu_image">   
                        </a>
                    </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    {% if usuario.tipo.configuracion == False %}
                        <div class="d-none">
                    {% else %}
                        <div>
                    {% endif %}
                        <h6 class="dropdown-header">Configuración</h6>
                        <div class="dropdown-divider"></div>
                            {% if usuario.tipo.nombre == "SuperAdm" or usuario.tipo.nombre == "Admin"%}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                    <a class="dropdown-item" href="{% url 'dashboard-staff' %}">Usuarios</a>
                                    <a class="dropdown-item" href="{% url 'perfiles_rh' %}">Usuarios RH API</a>
                                </div>
                            {% if usuario.tipo.nombre == "SuperAdm" or usuario.tipo.nombre == "Admin" or usuario.tipo.nombre == "ALMACEN_VERACRUZ" or usuario.tipo.superintendente == True or usuario.tipo.nombre == "ACTIVOS_SISTEMAS" or usuario.tipo.nombre == "SISTEMAS" or usuario.tipo.nombre == "VIS_ADQ" %}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                    <a class="dropdown-item" href="{% url 'dashboard-product' %}">{% trans "Productos/Servicios" %}</a>
                                </div>
                            {% if usuario.tipo.proyectos == True %}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                    <a class="dropdown-item" href="{% url 'configuracion-proyectos' %}">Proyectos</a>
                                </div>
                            {% if usuario.tipo.activos == True or usuario.tipo.nombre == "Admin"%}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                    <a class="dropdown-item" href="{% url 'activos' %}">Activos</a>
                                    <a class="dropdown-item" href="{% url 'activos_producto' %}">Inventario Activos</a>
                                </div>   
                        </div>
                        <div class="dropdown-divider"></div>
                    {% if usuario.tipo.proveedor_externo == False  %}
                    <h6 class="dropdown-header">{% trans "Mis Comprobaciones" %}</h6>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'mis-gastos' %}">{% trans "Mis Gastos" %}</a>
                        <a class="dropdown-item" href="{% url 'mis-viaticos' %}">{% trans "Mis Viáticos" %}</a>
                        <a class="dropdown-item" href="{% url 'mis-comprobaciones-gasto' %}">{% trans "Resumen Gastos | Viáticos" %}</a>
                        <a class="dropdown-item" href="{% url 'entrada-servicios' %}">
                            {% trans "Servicios pendientes" %}
                            {% if conteo_servicios > 0 %}
                            <span class="badge bg-danger">({{conteo_servicios}})</span>
                             {% endif %}
                        </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    {% if usuario.tipo.almacen == True or usuario.tipo.nombre == "Superintendente" %}
                    <div>
                    {% else %}
                    <div class="d-none">
                    {% endif %}
                        <h6 class="dropdown-header">Almacén</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'solicitud-inventario' %}">Inventario</a>
                            <!--<a class="dropdown-item" href="{% url 'devolucion_a_proveedor' %}">Devolución</a>-->
                            {% if usuario.tipo.almacenista == False %}
                            <div class="d-none">
                            {% else %}
                            <div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'pendientes_entrada' %}">
                                Entradas
                                {% if conteo_entradas > 0 %}
                                <span class="badge bg-danger">({{conteo_entradas}})</span>
                                 {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'matriz-gasto-entrada'%}">
                                Entrada por gasto
                            </a>
                            <!--<a class="dropdown-item" href="{% url 'solicitud-autorizada-firma' %}">Salidas</a>-->

                            <a class="dropdown-item" href="{% url 'product_selection_resurtimiento' %}">Resurtimiento: Seleccionar Productos</a>
                            <a class="dropdown-item" href="{% url 'solicitud-autorizada-orden' %}">
                                Pendientes por requisitar
                                {% if conteo_ordenes > 0 %}
                                <span class="badge bg-danger">({{conteo_ordenes}})</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'solicitud-autorizada' %}">
                                Salidas | Matriz Solicitudes
                                {% if conteo_ordenes > 0 %}
                                <span class="badge bg-danger">({{conteo_ordenes}})</span>
                                {% endif %}
                            </a>
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.calidad == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Calidad</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'pendientes_calidad' %}">Liberación</a>
                            <a class="dropdown-item" href="{% url 'matriz-nc' %}">Matriz NC's</a>
                            <a class="dropdown-item" href="{% url 'product_calidad' %}">Productos Criticos</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.solicitudes == False %}
                        <div class="d-none">
                    {% else %}
                        <div>
                    {% endif %}
                            <h6 class="dropdown-header">{% trans "Solicitudes" %}</h6>
                            <div class="dropdown-divider"></div>
                                <!--<a class="dropdown-item" href="{% url 'crear-plantilla' %}">Crear Plantilla</a>
                                <a class="dropdown-item" href="{% url 'matriz-plantillas' %}">Matriz Plantillas</a>-->
                                <a class="dropdown-item" href="{% url 'solicitud-product-selection' %}">{% trans "Crear Solicitud" %}</a>
                                <a class="dropdown-item" href="{% url 'solicitud-matriz-productos' %}">{% trans "Solicitudes por producto" %}</a>
                                <a class="dropdown-item" href="{% url 'solicitudes-pendientes' %}">{% trans "Matriz Solicitudes" %}</a>
                            <div class="dropdown-divider"></div>
                        <div>
                            <h6 class="dropdown-header">{% trans "Gastos y viáticos" %}</h6>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'crear-gasto' %}">{% trans "Crear Solicitud de Gasto/Reembolso" %}</a>
                                <a class="dropdown-item" href="{% url 'solicitud-viatico' %}">{% trans "Crear Viático" %}</a>
                                <a class="dropdown-item" href="{% url 'solicitudes-viaticos' %}">{% trans "Matriz Viáticos" %}</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                    <!--{% if usuario.tipo.requisiciones == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Requisiciones</h6>
                        <div class="dropdown-divider"></div>
                        <
                        <div class="dropdown-divider"></div>
                    </div>-->
                    {% if usuario.tipo.compras == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">{% trans "Compras" %}</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'requisicion-autorizada' %}">
                                {% trans "Requisiciones autorizadas" %}
                                {% if conteo_requis > 0 %}
                                <span class="badge bg-danger">({{conteo_requis}})</span>
                                {% endif %}
                            </a>
                            {% if usuario.tipo.comprador %}
                            <div>
                            {% else %}
                            <div class="d-none"> 
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'comparativos' %}">
                                {% trans "Comparativos" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'compras-devueltas' %}">
                                {% trans "Compras Devueltas" %}
                            </a>
                            <!--<a class="dropdown-item" href="{% url 'add_proveedores2' %}">
                                Solicitud alta de proveedor
                            </a>-->
                            <a class="dropdown-item" href="{% url 'add_proveedores_comparativo' %}">
                                {% trans "Agregar Proveedor Comparativo" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'matriz-nc' %}">Matriz NC's</a>
                            </div>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.proveedores == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">{% trans "Proveedores" %}</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'dashboard-proveedores' %}">{% trans "Proveedores" %}</a>
                        <!--<a class="dropdown-item" href="{% url 'proveedores-altas' %}">{% trans "Altas" %}
                            {% if proveedores_altas > 0 %}
                                    <span class="badge bg-danger">({{proveedores_altas}})</span>
                            {% endif %}
                        </a>
                        <a class="dropdown-item" href="{% url 'invitar-proveedor' %}">{% trans "Invitar proveedor (Alta)" %}</a>-->
                        <!--{% if usuario.tipo.nombre != "ADQUISICIONES" %}
                            <a class="dropdown-item" href="{% url 'matriz-revision-proveedor' %}">Matriz Revision Proveedores</a>
                        {% endif %}-->


                    <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.nombre == "SUPERIN_ADM" or usuario.tipo.nombre == "Admin" or usuario.tipo.tesoreria or usuario.tipo.finanzas %}
                        <div>
                    {% else %}
                        <div class="d-none">
                    {% endif %}
                    <h6 class="dropdown-header">Cuentas por pagar</h6>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'compras-por-pagar' %}">
                            Compras por pagar
                            {% if conteo_pagos2 > 0 %}
                                <span class="badge bg-danger">({{conteo_pagos2}})</span>
                            {% endif %}
                        </a>
                    <div class="dropdown-divider"></div>       
                    </div>
                    {% if usuario.tipo.tesoreria %}
                        {% if usuario.tipo.rh and not usuario.distritos.nombre == "MATRIZ" %}
                            <div class="d-none">
                        {% else %}
                            <div>
                        {% endif %}
                    {% else %}
                      <div class="d-none">
                    {% endif %}
                        <h6 class="dropdown-header">Tesorería  /  Contabilidad</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'compras-autorizadas' %}">
                                Compras
                                {% if conteo_pagos > 0 %}
                                    <span class="badge bg-danger">({{conteo_pagos}})</span>
                                {% endif %}
                                | Gastos
                                {% if conteo_gastos_pagar > 0 %}
                                <span class="badge bg-danger">({{conteo_gastos_pagar}})</span>
                                {% endif %}
                                | Viáticos
                                {% if conteo_viaticos_pagar > 0 %}
                                <span class="badge bg-danger">({{conteo_viaticos_pagar}})</span>
                                {% endif %}
                            </a>
                            {% if usuario.tipo.rh or usuario.tipo.nombre == 'CONTADOR' %}
                            <div class="d-none">
                            {% else %}
                            <div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'viaticos_autorizados' %}">
                                Asignar Montos Viáticos
                                {% if conteo_asignar_montos > 0 %}
                                    <span class="badge bg-danger">({{conteo_asignar_montos}})</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'control-cuentas' %}">
                                Control de Cuentas
                            </a>
                            <a class="dropdown-item" href="{% url 'control-documentos' %}">
                                Control de Documentos
                            </a>
                          
                            <!--<a class="dropdown-item" href="{% url 'cobranza-pagos' %}">
                                Cobranza
                            </a>-->
                        
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.finanzas == True %}
                    <div>
                    {% else %}
                    <div class="d-none">
                    {% endif %}
                        <h6 class="dropdown-header">Finanzas</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'compras-autorizadas' %}">
                                Compras Autorizadas
                                {% if conteo_pagos > 0 %}
                                    <span class="badge bg-danger">({{conteo_pagos}})</span>
                                {% endif %}
                            </a>
                        <div>
                             <a class="dropdown-item" href="{% url 'transferencia-gastos-autorizados' %}">Gastos Autorizados</a>
                        </div>
                        <div>
                            <a class="dropdown-item" href="{% url 'crear-exhibit' %}">Crear Exhibit</a>
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.autorizacion == True %}
                    <div>
                    {% else %}
                    <div class="d-none">
                    {% endif %}
                        <h6 class="dropdown-header">Autorización</h6>
                        <div class="dropdown-divider"></div>
                            {% if usuario.tipo.supervisor == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'solicitud-pendientes-autorizacion' %}">
                                    Solicitudes
                                    {% if conteo_solicitudes > 0 %}
                                    <span class="badge bg-danger">({{conteo_solicitudes}})</span>
                                    {% endif %}
                                </a>
                                </div>
                                {% if usuario.tipo.nombre == 'Admin' %}
                                <a class="dropdown-item" href="{% url 'matriz-salida-activos' %}">Revisión Activos</a>
                                {% endif %}
                            {% if usuario.tipo.superintendente or usuario.tipo.supervisor and usuario.distritos.nombre == "MATRIZ" %}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'requisicion-autorizacion' %}">Requisiciones
                                    {% if conteo_requis_pendientes > 0 %}
                                    <span class="badge bg-danger">({{conteo_requis_pendientes}})</span>
                                    {% endif %}
                                </a>
                                </div>
                            {% if usuario.tipo.oc_superintendencia == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'autorizacion-oc1' %}">
                                {% if usuario.tipo.nombre == "Gerente Br" %}
                                OC Gerente Brasil
                                {% elif usuario.tipo.subdirector %}
                                OC Subdirector
                                {% else %}
                                OC Superintendencia
                                {% endif %}
                                {% if conteo_oc1 > 0 %}
                                <span class="badge bg-danger">({{conteo_oc1}})</span>
                                {% endif %}    
                                </a>
                            </div>
                            {% if usuario.tipo.superintendente or usuario.tipo.subdirector %}
                                <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'matriz-autorizar-devolucion' %}">Autorización Devolución Almacén
                                    {% if conteo_devoluciones > 0 %}
                                    <span class="badge bg-danger">({{conteo_devoluciones}})</span>
                                    {% endif %}
                                </a>
                                </div>
                            {% if usuario.tipo.superintendente == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}

                                <a class="dropdown-item" href="{% url 'gastos-pendientes-autorizar' %}">{% if usuario.tipo.nombre == "Gerente Br" %}Gasto Gerente Brasil {% elif usuario.tipo.subdirector %}Gasto Subdirector {% else %} Revisión Gasto {% endif %}
                                {% if conteo_gastos_pendientes > 0 %}
                                <span class="badge bg-danger">({{conteo_gastos_pendientes}})</span>
                                {% endif %}
                                </a>
                                </div>

                            {% if usuario.tipo.oc_gerencia == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'autorizacion-oc2' %}">
                                OC Gerencia
                                {% if conteo_oc > 0 %}
                                <span class="badge bg-danger">({{conteo_oc}})</span>

                                {% endif %}
                                </a>
                            </div>
                            {% if usuario.tipo.oc_gerencia %}
                            <div>
                            {% else %}
                            <div class="d-none">
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'gastos-pendientes-autorizar2' %}">Autorización Gasto
                                 {% if conteo_gastos_gerencia > 0 %}
                                <span class="badge bg-danger">({{conteo_gastos_gerencia}})</span>
                                {% endif %}
                                </a>
                            </div>
                            {% if usuario.tipo.superintendente == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'viaticos-pendientes-autorizar' %}">
                                Revision Viáticos
                                {% if conteo_viaticos > 0 %}
                                <span class="badge bg-danger">({{conteo_viaticos}})</span>

                                {% endif %}
                                </a>
                                </div>
                            {% if usuario.tipo.oc_gerencia or usuario.tipo.subdirector %}
                            <div>
                            {% else %}
                            <div class="d-none">
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'viaticos-pendientes-autorizar2' %}">Autorización Viáticos
                                  {% if conteo_viaticos_gerencia > 0 %}
                                <span class="badge bg-danger">({{conteo_viaticos_gerencia}})</span>
                                {% endif %}
                                </a>
                            </div>  
                            <div>
                                <a class="dropdown-item" href="{% url 'vales-rosa-pendientes-autorizar' %}">Autorización Vales Rosa
                                      {% if conteo_vales > 0 %}
                                       <span class="badge bg-danger">({{conteo_vales}})</span>
                                        {% endif %}
                                </a>
                            </div>
                            
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.reportes == False %}
                    <div class="d-none">
                    {% else %}
                    <h6 class="dropdown-header">Reportes</h6>
                    <div class="dropdown-divider"></div>
                    <div>
                    {% endif %}
                        <a class="dropdown-item" href="{% url 'solicitud-matriz' %}">Matriz Solicitudes</a>
                        <a class="dropdown-item" href="{% url 'requisiciones-status' %}">
                            Matriz Requisiciones
                        </a>
                        <a class="dropdown-item" href="{% url 'requisiciones-productos' %}">
                            Matriz Productos Requisiciones
                        </a>
                        <a class="dropdown-item" href="{% url 'reporte-entradas-servicios' %}">Matriz Entradas Servicios</a>
                        {% if usuario.tipo.almacen == True or usuario.tipo.nombre == "Gerente" or usuario.tipo.nombre == "Comprador" or usuario.tipo.nombre == "Tesoreria" %}
                            <div>
                        {% else %}
                            <div class="d-none">
                        {% endif %}
                            <a class="dropdown-item" href="{% url 'reporte-entradas' %}">Matriz Entradas</a>
                            {% if usuario.tipo.almacen == True %}
                            <a class="dropdown-item" href="{% url 'devolucion_ordenes' %}">Matriz Devoluciones</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'reporte-entradas-gasto' %}">Matriz Entradas por Gasto</a>
                            <a class="dropdown-item" href="{% url 'reporte-salidas' %}">Matriz Salidas</a>
                            </div>
                        {% if usuario.tipo.compras == True or usuario.tipo.nombre == "Gerente" %}
                            <div>
                        {% else %}
                            <div class="d-none">
                        {% endif %}
                            <a class="dropdown-item" href="{% url 'matriz-compras' %}">{% trans "Matriz Compras" %}</a>
                            </div>
                        <!--    or usuario.tipo.comprador == True --> 
                        {% if usuario.tipo.tesoreria or usuario.tipo.gerente or usuario.tipo.comprador or usuario.tipo.subdirector %}
                        <div>
                        {% else %}
                            <div class="d-none">
                        {% endif %}
                            <a class="dropdown-item" href="{% url 'matriz-pagos' %}">Matriz Pagos</a>
                            <a class="dropdown-item" href="{% url 'solicitudes-gasto' %}">Matriz Gastos</a>
                            </div>
                            {% if usuario.tipo.calidad == True %}
                            <div>
                            {% else %}
                                <div class="d-none">
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'matriz-reportes-calidad' %}">Matriz Reportes Calidad</a>
                                </div>
                    <div class="dropdown-divider"></div>
                    {% if usuario.tipo.historicos == False %}
                    <div class="d-none">
                    {% else %}
                    <h6 class="dropdown-header">Históricos</h6>
                    <div class="dropdown-divider"></div>
                    <div>
                    {% endif %}
                        {% if usuario.tipo.almacen ==  False %}
                            <div class="d-none">
                        {% else %}
                            <div>
                        {% endif %}
                            <a class="dropdown-item" href="{% url 'historico-inventario' %}">Histórico Inventario</a>
                            <a class="dropdown-item" href="{% url 'historico-producto' %}">Histórico Producto</a>
                            <a class="dropdown-item" href="">Histórico Entradas</a>
                            <a class="dropdown-item" href="{% url 'historico-compras' %}">Histórico Compras</a>
                            <a class="dropdown-item" href="{% url 'historico-articulos-compras' %}">Histórico Articulos Compras</a>
                            <a class="dropdown-item" href="{% url 'historico-salidas' %}">Histórico Salidas</a>
                            <a class="dropdown-item" href="{% url 'historico-articulos-para-surtir' %}">Históricos Artículos para Surtir</a>
                            <a class="dropdown-item" href="{% url 'politica-antisoborno' %}">Política Antisoborno</a>
                            <a class="dropdown-item" href="{% url 'aviso-privacidad' %}">Aviso de Privacidad para proveedores</a>
                            <a class="dropdown-item" href="{% url 'politica-proveedores' %}">Política de proveedores</a>
                            <a class="dropdown-item" href="{% url 'codigo-etica' %}">Código de ética</a>
                            </div>
                        {% if usuario.tipo.tesoreria == False %}
                            <div class="d-none">
                        {% else %}
                            <div>
                        {% endif %}
                            <a class="dropdown-item" href="">Histórico Pagos</a>
                            </div>
                    <div class="dropdown-divider"></div>
                    </div>
                </div>
            </div>
    {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand text-white" href="#">
                    <img src="{% static 'images/SAVIA_Logo.jpg' %}" alt="SAVIA" width="36" height="30">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                    </li>
                </ul>
            </div>
    {% endif %}
        </div>
</nav>