{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load l10n %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Conceptos Viaticos{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<h6>&nbsp;</h6>
<div class = "row mt-2 bg-white" id="response-div">
        <div class="col-12">
            <div class="card card-body">
                
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                    <li class="nav-item mx-1">
                        <a href="{{ next_url }}" class="btn btn-outline-info">
                            <i class="fa-solid fa-backward"></i>
                        </a>
                    </li>
                    <!--{% if usuario.tipo.tesoreria == True %}
                        <li class="nav-item mx-1">
                            <a href="{% url 'viaticos-autorizados-pago' %}" class="btn btn-outline-info">
                                <i class="fa-solid fa-backward"> VIATICOS</i>
                            </a>                 
                        </li>
                        <li class="nav-item mx-2">
                            <a href="{% url 'matriz-pagos' %}" class="btn btn-outline-info">
                                <i class="fa-solid fa-backward"> MATRIZ PAGOS</i>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>-->
                    </ul>
                </form>
            </div>
        </div>
    
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Viático</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Importe Gasto</th>
                </tr>
            </thead>
            <tbody>
                {% for concepto in conceptos_viatico %}
                <tr>
                    <th scope="row">{{concepto.id}}</th>
                    <td>{{concepto.producto}}</td>
                    <td>{{concepto.comentario}}</td>
                    <td class="total-linea"  total="{{concepto.get_total_parcial|unlocalize}}">${{concepto.get_total_parcial|floatformat:2}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td id="total"></td>
                </tr>
            </tbody>
        </table>
        <br>
<div class="nav-item ms-auto">
    <form method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" name="btn_descargar_todo" class="btn btn-sm btn-primary float-end">
            <i class="fas fa-file-archive"></i> Descargar Facturas
        </button>
    </form>
</div>

<br>
<form method="POST">
    {% csrf_token %}
    <table class="table bg-white">
        <thead class="text-black" style="background-color: #F5F5F5;">
            <tr>
                <th>Clasificación</th>
                <th scope="col">Concepto [XML]</th>
                <th scope="col">Proveedor [XML]</th>
                <th scope="col">Monto [XML]</th>
                <th>PDF</th>
                <th>XML</th>
                <th>PDF-render</th>
                {% if usuario.tipo.tesoreria %}
                <th>Validar</th>
                {% endif %}
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td data-clasificacion="{% if factura.factura_xml %}{% if factura.emisor %}{{ factura.emisor.clasificacion_general }}{% endif %}{% endif %}">
                    {% if factura.factura_xml and factura.emisor %}
                    <strong>{{ factura.emisor.clasificacion_general }}</strong>
                    {% endif %}
                </td>
                <td>{% if factura.factura_xml %} {{ factura.emisor.resultados }} {% endif %}</td>
                <td>{% if factura.factura_xml %} {{ factura.emisor.nombre }} {% endif %}</td>
                <td>
                    {% if factura.factura_xml %}
                    <span class="total-xml" total="{{ factura.emisor.total }}"> ${{ factura.emisor.total }} </span>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
                <td>
                    <ul class="nav nav-pills">
                        {% if factura.factura_pdf %}
                        <ul class="nav nav-pills">
                            
                            <li class="nav-item mx-1">
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfModal{{ factura.id|unlocalize }}" title="Ver comprobante de pago">
                                    <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                </button>
                            </li>
                        </ul>
                            <!-- Modal con visor de PDF -->
                            <div class="modal fade" id="pdfModal{{ factura.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ factura.id|unlocalize }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pdfModalLabel{{ factura.id|unlocalize }}">Comprobante de Pago</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="{{ factura.factura_pdf.url }}#zoom=80" width="100%" height="750px"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <ul class="nav nav-pills">
                        {% if factura.factura_xml %}
                        <li class="nav-item mx-1">
                            <a href="{{ factura.factura_xml.url }}" download class="btn btn-outline-secondary">
                                <i class="fa-solid fa-file-code fa-2xl"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <!--<a href="{% url 'generar_cfdi_gasto' factura.id %}" download class="btn btn-outline-info">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                    </a>-->
                    <!-- Botón para abrir la vista previa en un modal -->
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{ factura.id }}">
                        <i class="fa-solid fa-file-invoice-dollar"></i> Ver CFDI
                    </button>

                    <!-- Modal con visor de PDF -->
                    <div class="modal fade" id="pdfModal{{ factura.id }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ factura.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="pdfModalLabel{{ factura.id }}">Vista Previa del CFDI</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe src="{% url 'generar_cfdi_gasto' factura.id %}#zoom=80" width="100%" height="750px"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
                {% if usuario.tipo.tesoreria %}
                <td>
                    <input type="checkbox" name="autorizar_factura_{{ factura.id | unlocalize }}" {% if factura.autorizada %}checked{% endif %} onchange="actualizarTotales()">
                </td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="setDeleteUrl({{ factura.id | unlocalize}})">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% if usuario.tipo.tesoreria %}
            <tr>
                <td></td>
                <td></td>
                <th></th>
                <th></th>
                <th class="center">Autorizadas</th>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td></td>
                <th>Total Hospedaje</th>
                <td scope="col" id="hospedaje"></td>
                {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or  usuario.tipo.nombre == "Admin" %}
                <td scope="col" id="hospedaje-autorizadas"></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total Gasolina</th>
                <td scope="col" id="gasolina"></td>
                {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or  usuario.tipo.nombre == "Admin" %}
                <td scope="col" id="gasolina-autorizadas"></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total Alimentos</th>
                <td scope="col" id="alimentos"></td>
                {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or  usuario.tipo.nombre == "Admin" %}
                <td scope="col" id="alimentos-autorizadas"></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total Peajes</th>
                <td scope="col" id="peaje"></td>
                {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or  usuario.tipo.nombre == "Admin" %}
                <td scope="col" id="peaje-autorizadas"></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total Otros</th>
                <td scope="col" id="otros"></td>
                {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or  usuario.tipo.nombre == "Admin" %}
                <td scope="col" id="otros-autorizadas"></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total</th>
                <td scope="col" id="total2"></td>
                <td scope="col" id="total3"></td>
            </tr>
        </tbody>
    </table>
    <div class="row ms-3 my-2">
        {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or usuario.tipo.nombre == "Admin"%}
        <div class="form-check form-switch col-sm">
            <label for="form.facturas_completas" class="form-check-label"><strong>Facturas Completas</strong></label>
            {{ form.facturas_completas|add_class:"form-check-input" }}
        </div>
        {% endif %}
        <hr>
        <ul class="nav">
            {% if usuario.tipo.nombre == "CONTADOR" or usuario.tipo.nombre == "TESORERIA" or usuario.tipo.nombre == "Admin"%}
            <li class="nav-item">
                <a type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'factura-nueva-viatico' viatico.id %}" >Facturas <i class="fa-solid fa-file-arrow-up"></i></a>
            </li>
            {% elif fuera_de_tiempo == False %}
            {% endif %}
            <li class="nav-item">
                <a type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'factura-nueva-viatico' viatico.id %}" >Facturas <i class="fa-solid fa-file-arrow-up"></i></a>
            </li>
           <!--- aquí iba el endif del fuera de tiempo se quita por indicación de HT 31/12/2024-->
            <li class="nav-item ms-4">
                <button type="submit" name="btn_factura_completa" class="btn btn-success">Guardar status</button>
            </li>
            <li class="nav-item ms-4">      
                <button type="submit" name="salir" class="btn btn-secondary">Cerrar</button>
            </li>
        </ul>
    </div>
</form>
</div>
<!--Este es el modal 1 facturas-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>
<!-- Modal de Confirmación eliminación-->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Eliminar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <input type="text" class="form-control" id="comentario" name="comentario" placeholder="Escribe un comentario" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="enviarFormulario()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
;(function() {
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap', (e) => {
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
            modal.hide()
    })
})()
var myModal = document.getElementById('dialog')
myModal.addEventListener('hidden.bs.modal', function (event) {
      location.reload();
    })

// Funciones para la primera tabla
var xml = document.getElementsByClassName('total-xml');
var elementos_t = document.getElementsByClassName('total-linea');

function calcularTotal(elementos, id) {
    var lbltotal = document.getElementById(id);
    var total = 0;

    for (var i = 0; i < elementos.length; i++) {
        total += Number(elementos[i].getAttribute('total'));
    }
    lbltotal.innerText = `$${total.toFixed(2)}`;
}

calcularTotal(elementos_t, 'total');
calcularTotal(xml, 'total2');

function calcularTotalesPorClasificacion(elementos, clasificacion) {
    var total = 0;

    for (var i = 0; i < elementos.length; i++) {
        var elementoClasificacion = elementos[i].getAttribute('data-clasificacion');
        if (elementoClasificacion === clasificacion) {
            var totalElemento = Number(elementos[i].closest('tr').querySelector('.total-xml').getAttribute('total'));
            total += totalElemento;
        }
    }
    return total;
}

function mostrarTotalPorClasificacion(clasificacion, id) {
    var elementos = document.querySelectorAll('td[data-clasificacion]');
    var total = calcularTotalesPorClasificacion(elementos, clasificacion);
    var lblTotal = document.getElementById(id);
    lblTotal.innerText = `$${total.toFixed(2)}`;
}

// Calcular y mostrar los totales por clasificación
mostrarTotalPorClasificacion('Alimentos', 'alimentos');
mostrarTotalPorClasificacion('Gasolina', 'gasolina');
mostrarTotalPorClasificacion('Peaje', 'peaje');
mostrarTotalPorClasificacion('Hospedaje', 'hospedaje');
mostrarTotalPorClasificacion('Otros', 'otros');

// Funciones para la tabla de autorizados
function calcularTotalesPorClasificacionAutorizadas(elementos, clasificacion) {
    var total = 0;

    for (var i = 0; i < elementos.length; i++) {
        var elementoClasificacion = elementos[i].getAttribute('data-clasificacion');
        if (elementoClasificacion === clasificacion) {
            var tr = elementos[i].closest('tr');
            var totalElemento = Number(tr.querySelector('.total-xml').getAttribute('total'));
            var autorizada = tr.querySelector('input[type="checkbox"]').checked;
            if (autorizada) {
                total += totalElemento;
            }
        }
    }
    return total;
}

function mostrarTotalPorClasificacionAutorizadas(clasificacion, id) {
    var elementos = document.querySelectorAll('td[data-clasificacion]');
    var total = calcularTotalesPorClasificacionAutorizadas(elementos, clasificacion);
    var lblTotal = document.getElementById(id);
    lblTotal.innerText = `$${total.toFixed(2)}`;
}

// Calcular y mostrar los totales autorizadas
mostrarTotalPorClasificacionAutorizadas('Alimentos', 'alimentos-autorizadas');
mostrarTotalPorClasificacionAutorizadas('Gasolina', 'gasolina-autorizadas');
mostrarTotalPorClasificacionAutorizadas('Peaje', 'peaje-autorizadas');
mostrarTotalPorClasificacionAutorizadas('Hospedaje', 'hospedaje-autorizadas');
mostrarTotalPorClasificacionAutorizadas('Otros', 'otros-autorizadas');

// Total general autorizadas
function calcularTotalAutorizadas() {
    var total = 0;
    var elementos = document.querySelectorAll('td[data-clasificacion]');

    for (var i = 0; i < elementos.length; i++) {
        var autorizada = elementos[i].closest('tr').querySelector('input[type="checkbox"]').checked;
        if (autorizada) {
            var totalElementoEl = elementos[i].closest('tr').querySelector('.total-xml');
            var totalElemento = totalElementoEl ? Number(totalElementoEl.getAttribute('total')) : 0; 
            total += totalElemento;
        }
    }

    var lblTotal = document.getElementById('total3');
    lblTotal.innerText = `$${total.toFixed(2)}`;
}

document.getElementById('total3').innerText = `$${calcularTotalAutorizadas().toFixed(2)}`;

// Actualizar totales
function actualizarTotales() {
    // Actualiza totales generales
    calcularTotal(xml, 'total2');
    calcularTotal(elementos_t, 'total');

    // Actualiza totales por clasificación
    mostrarTotalPorClasificacion('Alimentos', 'alimentos');
    mostrarTotalPorClasificacion('Gasolina', 'gasolina');
    mostrarTotalPorClasificacion('Peaje', 'peaje');
    mostrarTotalPorClasificacion('Hospedaje', 'hospedaje');
    mostrarTotalPorClasificacion('Otros', 'otros');

    // Actualiza totales de autorizadas
    mostrarTotalPorClasificacionAutorizadas('Alimentos', 'alimentos-autorizadas');
    mostrarTotalPorClasificacionAutorizadas('Gasolina', 'gasolina-autorizadas');
    mostrarTotalPorClasificacionAutorizadas('Peaje', 'peaje-autorizadas');
    mostrarTotalPorClasificacionAutorizadas('Hospedaje', 'hospedaje-autorizadas');
    mostrarTotalPorClasificacionAutorizadas('Otros', 'otros-autorizadas');

    // Actualiza total general autorizadas
    calcularTotalAutorizadas();
}

//Parte del modal factura eliminar
function setDeleteUrl(facturaId) {
    const deleteForm = document.getElementById('deleteForm');
    const baseUrl = "{% url 'eliminar-factura-viatico' 0 %}"; // URL base con un placeholder

    // Obtener el parámetro 'next' de la URL actual
    const urlParams = new URLSearchParams(window.location.search);
    const nextParam = urlParams.get('next');  // Captura el valor de 'next' si está presente

    // Construir la URL de eliminación con el ID de la factura
    let deleteUrl = baseUrl.replace('0', facturaId);
    
    // Agregar el parámetro 'next' si existe
    if (nextParam) {
        deleteUrl += `?next=${encodeURIComponent(nextParam)}`;
    }

    // Establecer la acción del formulario
    deleteForm.action = deleteUrl;
}

function enviarFormulario() {
    const comentario = document.getElementById('comentario').value;
    if (!comentario) {
        alert("Por favor, escribe un comentario antes de continuar.");
    } else {
        document.getElementById('deleteForm').submit();  
    }
}
;(function() {
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap', (e) => {
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
            modal.hide()
    })
})()

// Recargar la página cuando se cierre el modal de confirmación
var confirmModal = document.getElementById('confirmModal');
confirmModal.addEventListener('hidden.bs.modal', function (event) {
    location.reload();  
});
</script>
{% endblock %}
</body>
</html>