{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load djmoney %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Pagar Viático{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes exitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>

<div class="row">
    <div class="col-lg-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Pagar Viático: {{viatico.id}}</h5>
        </div>

        <div class="card-body">
            <table class='table table-striped'>
                <thead>
                    <tr>
                    <th scope="col"><i class="fa-solid fa-person-walking-luggage"></i> Viatico para:</th>
                    <th scope="col">{{viatico.colaborador.staff.first_name}} {{viatico.colaborador.staff.last_name}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="col"><i class="fa-solid fa-diagram-project"></i> Proyecto:</th>
                    <th scope="col">{{viatico.proyecto.nombre}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-diagram-project"></i> Subproyecto:</th>
                    <th scope="col">{{viatico.subproyecto.nombre}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-regular fa-calendar-days"></i> Fecha de Partida:</th>
                    <th scope="col">{{viatico.fecha_partida}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-regular fa-calendar-days"></i> Fecha de Retorno:</th>
                    <th scope="col">{{viatico.fecha_retorno}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-location-dot"></i> Lugar de Partida:</th>
                    <th scope="col">{{viatico.lugar_partida}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-route"></i> Lugar de Comisión:</th>
                    <th scope="col">{{viatico.lugar_comision}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-car-side"></i> Transporte:</th>
                    <th scope="col">{{viatico.transporte}}</th>
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-hotel"></i> Hospedaje:</th>
                    {% if viatico.hospedaje %}
                    <th scope="col">Sí</th>
                    {% else %}
                    <th>No</th>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="col"><i class="fa-solid fa-comment"></i> Comentario</th>
                    <th scope="col">{{viatico.comentario}}</th>
                </tr>
                </tbody> 
            </table>
            <hr>
            <table class="class='table table-dark table striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">P.U.</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody id="mytbl">
                    {% for producto in conceptos%}
                
                    <tr>
                        <td scope="col">{{producto.producto.codigo}}</td>
                        <td scope="col">{{producto.producto.nombre}}</td>
                        <td scope="col">{{producto.cantidad}}</td>
                        <td scope="col">${{producto.precio|floatformat:2}}</td>
                        <td scope="col">${{producto.get_total_parcial|floatformat:2}}</td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </table>
                <hr>
                <table class='table table-dark table striped'>
                    <thead>
                        <tr>
                        <th scope="col">Importe Viático</th>
                        <th id="importe" value={{compra.costo_oc}} scope="col">${{viatico.get_total|floatformat:2}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Pagado:</th>
                            <th id="total" value={{suma_pagos}} scope="col" style="color:#3e92cc" monto="{{monto}}">${{viatico.monto_pagado|floatformat:2}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Remanente:</th>
                            <th>${{remanente|floatformat:2}}</th>
                        </tr>
                    </tbody>
                </table>

                <table class='table table-dark table-striped'>
                    <thead>
                        <tr>
                            <th scope="col-3">#</th>
                            <th scope="col-2">Pagado</th>
                            <th scope="col-3">Cuenta</th>
                            <th scope="col-3">Fecha</th>
                            <th scope="col-2">Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in pagos %}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.monto}}</td>
                            <td>{{p.cuenta.banco}} - {{p.cuenta.cuenta}}</td>
                            <td>{{p.pagado_date}}</td>
                            <td>
                                {% if p.comprobante_pago %}
                                <a href="{{p.comprobante_pago.url}}" download class="btn btn-outline-info">
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                   {% endfor %}
                   </tbody>
                </table>
       
        <form method="POST" enctype='multipart/form-data'>
            <div>
                {% csrf_token %}
                
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1"> 
                                        {{form.cuenta}}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1"> 
                                        {{form.monto|add_class:'form-control'}}
                                    </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {% render_field form.pagado_real type="date" class="form-control" %}
                                    <label style="color: #121212;" for="id_subproyecto">Fecha Pago:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-clock"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {% render_field form.pagado_hora type="time" class="form-control" %}
                                    <label style="color: #121212;" for="id_pagado_hora">Hora Pago:</label>
                                </div>
                            </div>
                        </div>
                    </div>  
                   
                    <div class="col-8">
                    <label for="form.comprobante_pago" class="col-auto col-form-label my-1"><strong>Comprobante de pago:</strong></label>
                        {{form.comprobante_pago|add_class:'form-control'}}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <h6>Registrar pago del viático: {{viático.id}}</h6>
                <button id="myBtn" type = "submit" class="btn btn-success">Registrar</button>
                <a type="button" class="btn btn-secondary"  href="{% url 'viaticos-autorizados-pago' %}">Cerrar</a>
            </div>
        </form>
         </div>

    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
/*var compra = document.getElementById("importe");
var compra_moneda = compra.getAttribute("moneda");
var monto_moneda = document.getElementById("id_monto_1");
var tipo_cambio = document.getElementById("id_tipo_de_cambio_1");
if (tipo_cambio) {
    tipo_cambio.setAttribute("class","form-control d-none");
}



if (compra_moneda == "Dólares"){
    monto_moneda.selectedIndex = 1;
}

document.getElementById("cuentas").addEventListener("change", function(element){
    var select = document.getElementById("cuentas");
    var tipo_cambio_txt = document.getElementById("tipo_de_cambio_0")
    var current_option = select.options[select.selectedIndex];
    var target = current_option.getAttribute('target');
    var moneda = current_option.getAttribute('moneda');
    var select_cuenta = document.getElementById('id_cuenta');


    //Aquí hago que desaparezca o aparezca el campo de tipo de cambio según la moneda seleccionada
    var lbl_tipo_cambio = document.getElementById('lbl_tipo');
    var txt_tipo_cambio = document.getElementById('id_tipo_de_cambio_0');
        if (moneda == "Dólares"){
            lbl_tipo_cambio.removeAttribute("class");
            txt_tipo_cambio.removeAttribute("class");
            lbl_tipo_cambio.setAttribute("class","col-auto col-form-label my-1 d-none");
            txt_tipo_cambio.setAttribute("class","form-control d-none");
        } else if (compra_moneda == "Dólares"){
            lbl_tipo_cambio.removeAttribute("class");
            txt_tipo_cambio.removeAttribute("class");
            lbl_tipo_cambio.setAttribute("class","col-auto col-form-label my-1");
            txt_tipo_cambio.setAttribute("class","form-control");
        }
    //Aqui le doy la instruccion para que cambie la seleccion de acuerdo a lo seleccionado en el primer desplegable de cuentas
    select_cuenta.selectedIndex = target;
});*/

function formatRepo (repo) {
    if (repo.loading) {
        return repo.text;
    }

    var $container = $("<div class='select2-result-repository clearfix'>" +
        "<div class='form-control form-control-lg select2-result-repository__title'></div>" +
        "</div>");

    $container.find(".select2-result-repository__title").text(repo.text);
    
    // Aquí podrías agregar más elementos al contenedor si es necesario.

    return $container;
}
function formatRepoSelection (repo) {
    return repo.text || repo.id;
}



var datosCuenta = {{cuentas_para_select2|safe }};


$(document).ready(function() {
    $('#id_cuenta').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Selecciona una cuenta',
        data: datosCuenta,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
});

document.getElementById('id_comprobante_pago').addEventListener('change', function(event){
  var file = event.target.files[0];
  var formData = new FormData();
  formData.append('comprobante_pago', file);
  
  // Añadir CSRF token a la solicitud AJAX
  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

  fetch('/gastos/prellenar_formulario_gastos/', { 
    method: 'POST',
    body: formData,
    headers: {
      'X-Requested-With': 'XMLHttpRequest', // Indicar que es una solicitud AJAX
    },
  })
  .then(response => response.json()) 
  .then(data => {
    console.log(data);
    // Ahora puedes actualizar los valores de tu formulario con los datos extraídos
    document.querySelector('[name="monto"]').value = data.monto;
    //document.querySelector('[name="cuenta"]').value = data.cuenta;
    document.querySelector('[name="pagado_real"]').value = data.pagado_real;
    
    if (data.hora_operacion) {
    // Solo deja HH:mm
    console.log(data.hora_operacion)
    const horaSinSegundos = data.hora_operacion.slice(0, 5);
    document.querySelector('[name="pagado_hora"]').value=  horaSinSegundos;
    }
    
    var cuentaId = data.cuenta; // Asegúrate de que este es el ID de la Cuenta
    var $selectElement = $('[name="cuenta"]');
    
    //var divisa = data.divisa_cuenta
    //console.log(divisa)
    $selectElement.val(cuentaId).trigger('change');
    //if (divisa == "MXP" && compra_moneda == "DOLARES" ){
    //var tipo_cambio = document.getElementById('text_tc')
    //tipo_cambio.classList.remove('d-none');
    //}
  })
  .catch(error => console.error('Error:', error));
});
</script>
{% endblock %}
</body>
</html>