{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
<html>
<head>
{% block title %}Solicitudes| Vista: Productos{% endblock %}
</head>
<body>
{% block content %}

<hr>
<hr>
<h6>&nbsp;</h6>
<div class="row my-4">
        <div class="card">
            <div class="card-header">
                <h5>Filtro de productos</h5>
            </div>
            <div class="card-body">
            <form method="GET" class="row g-7">
                {% csrf_token %}
                <div class="col-lg-4 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.staff|add_class:"form-control"|append_attr:"placeholder= Solicitado por"}}
                            <label style="color: #121212;" for="id_staff">Solicitado por</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                            <label style="color: #121212;" for="id_proyecto">Proyecto</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder= Folio"}}
                            <label style="color: #121212;" for="id_proyecto">Folio</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.producto|add_class:"form-control"|append_attr:"placeholder= Producto"}}
                            <label style="color: #121212;" for="id_producto">Producto</label>
                        </div>
                    </div>
                </div>
                <div id="serie" class="col-lg-2 col-md-auto col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {% render_field myfilter.form.start_date type="date" class="form-control" %}
                        <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                        </div>
                    </div>
                </div>
                <div id="serie" class="col-lg-2 col-md-auto col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {% render_field myfilter.form.end_date type="date" class="form-control" %}
                        <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                <button class="btn btn-outline-success" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <hr>
            <div class='col md-12'>
                <div class = "row mt-2 bg-white">
                    <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item ml-2 mx-2">
                            <a class="btn btn-outline-info" href="{% url 'solicitud-matriz' %}"><i class="fa-solid fa-angle-left"></i> Volver a Matriz Solicitud</a>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="submit" name="btnExcel" class="btn btn-outline-success"><i class="fa-solid fa-file-excel fa-2xl"></i></button>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-file-pdf fa-2xl"></i></button>
                        </li>-->
                    </ul>
                    </form>
                </div>
            </div>

        </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Aprobada</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <th scope="row">{{producto.orden.folio}}</th>
                    <td>{{producto.orden.staff.staff.staff.first_name}} {{producto.orden.staff.staff.staff.last_name}}</td>
                    <td>{{producto.orden.proyecto.nombre}}</td>
                    <td>{{producto.orden.subproyecto.nombre}}</td>
                    <td>{{producto.orden.operacion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.producto}}</td>
                    <td>{{producto.orden.created_at}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if productos.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url productos.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in productos.paginator.page_range %}
                    {% if productos.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > productos.number|add:'-2' and item < productos.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if productos.paginator.num_pages > productos.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{productos.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url productos.paginator.num_pages 'page' request.GET.urlencode %}">{{productos.paginator.num_pages}}</a></li>
                {% endif %}

                {% if productos.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url productos.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url productos.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</div>

{% endblock %}
</body>
</html>