{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% load tt_extras %}
<html>
<head>
{% block title %}Costos{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="row">
    <div class="col-md-5 col-lg-5">
        <div class="card ">
            <div class="card-header">
                <h5>Filtro de Costos</h5>
            </div>
            <div class="card-body">
                <form method="GET">
                {% csrf_token %}
                <div class="row g-12">
                    <div class="col-lg-5 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.distrito|add_class:"form-control"|append_attr:"placeholder= Distrito"}}
                                <label style="color: #121212;" for="id_id">Distrito</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.contrato|add_class:"form-control"|append_attr:"placeholder= Contrato"}}
                                <label style="color: #121212;" for="id_id">Contrato</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-12">
                    <div class="col-lg-5 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.tipo|add_class:"form-control"|append_attr:"placeholder= Tipo"}}
                                <label style="color: #121212;" for="id_id">Tipo</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-5 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.fecha type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Fecha:</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-2">
                        <!--onclick="regenerar()"-->
                        <button id="btnBuscar" class="btn btn-outline-success btn-block btn-lg"  onclick="guardar_variable();" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
        
                
                </form>
                <div class = "row mt-2 bg-white">
                    <form method=POST>
                        {% csrf_token %}
                    <ul class="nav nav-pills">
                        
                        <!--<li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" name="btnReporte"><i class="fa-duotone fa-solid fa-file-excel fa-2xl"></i></button>
                        </li>-->
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-info" href="{% url 'add-costo' 'directo' %}"><i class="fa-solid fa-plus"></i>Agregar Costo Directo</a>
                        </li>
                         <li class="nav-item mx-2">
                            <a class="btn btn-outline-info" href="{% url 'add-costo' 'indirecto' %}"><i class="fa-solid fa-plus"></i>Agregar Costo Indirecto</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-info" href="{% url 'add-costo' 'central' %}"><i class="fa-solid fa-plus"></i>Agregar Costo Central</a>
                        </li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-lg-7">
         <div class="card ">
              <div class="card-header">
                <h5>Reportes por Tipo de Costo/Distrito</h5>
            </div>
            <div class="card-body">
                <form method=GET action="{% url 'reporte-costos' %}" class="d-flex mb-3">
                    {% csrf_token %}
                    <select name="tipo_id" class="form-select mx-2" style="width: 250px;">
                        <option value="">-- Tipo de costo --</option>
                        {% for tipo in tipos %}
                            <option value="{{ tipo.id }}" {% if tipo_id == tipo.id|stringformat:"s" %}selected{% endif %}>
                                {{ tipo.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    <select name="distrito_id" class="form-select mx-2" style="width: 250px;">
                        <option value="">-- Distrito --</option>
                        {% for distrito in distritos %}
                            <option value="{{ distrito.id }}" {% if tipo_id == distrito.id|stringformat:"s" %}selected{% endif %}>
                                {{ distrito.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="col-auto">
                        <input type="month" name="fecha_inicio" value="{{ fecha_inicio }}" class="form-control">
                    </div>

                    <div class="col-auto">
                        <input type="month" name="fecha_fin" value="{{ fecha_fin }}" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-info">
                       Ver Reporte
                    </button>
                </form> 
            </div>

         </div>

    </div>
</div>

<div class="row my-4">
    <div class="col-md-4">
        {% for message in messages %}
            {% if message %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                var m = "{{ message }}";
                swal("Excelente !", m, "success")
            </script>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class = "card">
    <div class ="table-responsive-sm">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th>Contrato</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Tipo</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for costo in costos_list %}
                <tr>
                    <td>{{costo.contrato}}</td>
                    <td>{{costo.distrito}}</td>
                    <td>{{costo.fecha|date:"F Y"}}</td>
                    <td>${{costo.get_total}}</td>
                    <td>{{costo.tipo}}</td>
                    <td>
                        <a id="myBtn" type="button" title= "Productos y Comentarios" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'conceptos-costos' costo.id %}">
                            <i class="fa-duotone fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if costos_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" style="color:#3E92CC" 
                            href="{% my_url costos_list.previous_page_number 'page' request.GET.urlencode %}">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% for page in costos_list.paginator.page_range  %}
                    {% if costos_list.number == page.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" style="background-color:#3E92CC; border-color:#3E92CC" 
                                href="{% my_url page 'page' request.GET.urlencode %}" id="{{page}}">{{page}}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" style="color:#3E92CC" 
                                href="{% my_url page 'page' request.GET.urlencode %}" id="{{page}}">{{page}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if costos_list.has_next %}
                <li class="page-item">
                    <a class="page-link" style="color:#3E92CC" 
                        href="{% my_url costos_list.next_page_number 'page' request.GET.urlencode %}">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>



{% endblock %}
</body>
</html>