{% extends 'partials/base.html' %}
{% load tt_extras %}

<html>
<head>
{% block title %}Reporte de Depreciaciones{% endblock %}
</head>

<body>
    {% block content %}
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="card">
    <div class="card-header">
        Descargas
    </div>
    <div class="card-body">
        <form method=POST>
            {% csrf_token %}
            <ul class="nav nav-pills">
                <li class="nav-item mx-2">
                    <a  class="btn btn-outline-info" href="{% url 'rentabilidad-depreciaciones' %}"><i class="fa-duotone fa-solid fa-backward"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <button type="submit" class="btn btn-outline-success" name="btnReporte"><i class="fa-solid fa-file-excel fa-2xl"></i></button>
                </li>
            </ul>
        </form>
    </div>


</div>

<div class="card mt-2">
    <div class = "card-header">
        <strong>Filtros aplicados:</strong><br>
        Distrito: {{ distrito_nombre }} <br>
        Rango de meses: {{ fecha_corte }} 
    </div>
    <div class = "card-body">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ECO</th>
                    <th>Contrato</th>
                    <th>Tipo de Unidad</th>
                    <th>Meses a Depreciar</th>
                    <th>Sector</th>
                    <th>Mes Inicial</th>
                    <th>Mes Final</th>
                    <th>Valor de Adquisición</th>
                    <th>Depreciación Mensual</th>
                    <th>Depreciación Acumulada</th>
                    <th>Saldo por Redimir</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in filas_detalle %}
                <tr>
                    <td>{{ fila.eco }}</td>
                    <td>{{ fila.contrato }}</td>
                    <td>{{ fila.tipo_unidad }}</td>
                    <td>{{ fila.meses_a_depreciar }}</td>
                    <td>{{ fila.sector }}</td>
                    <td>{{ fila.mes_inicial|date:"F Y" }}</td>
                    <td>{{ fila.mes_final|date:"F Y" }}</td>
                    <td>${{ fila.valor_adquisicion|floatformat:2 }}</td>
                    <td>${{ fila.depreciacion_mensual|floatformat:2 }}</td>
                    <td>${{ fila.depreciacion_acumulada|floatformat:2 }}</td>
                    <td>${{ fila.saldo_por_redimir|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center">No hay depreciaciones en este rango.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</body>

</html>