{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load widget_tweaks %}
{% load l10n %}
<html>
<head>
{% block title %}Cargo/Abono Cuentas{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes exitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>

<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="col-lg-6 offset-lg-3 col-sm-12" >
    <div class="card">
        <div class="card-header">
            <h5 class="modal-title">Transacción</h5>
        </div>

        <div class="card-body">           
        <form id="myForm" method="post" enctype="multipart/form-data">
            <div class="col">
                {% csrf_token %}
                           
                        <div class="alert alert-primary" role="alert">
                            Cuenta: {{cuenta.banco}} | {{cuenta.cuenta}} | Moneda: {{cuenta.moneda}}
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {% render_field form.pagado_real type="date" class="form-control" %}
                                        <label style="color: #121212;" for="id_subproyecto">Fecha Pago:</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-dollar-sign"></i></span>  
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{form.tipo|add_class:"form-control"|append_attr:"placeholder= Tipo"}}
                                        <label style="color: #121212;" for="id_area">Tipo*</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-dollar-sign"></i></span>  
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{form.monto|add_class:"form-control"|append_attr:"placeholder= Monto"}}
                                        <label style="color: #121212;" for="id_area">Monto*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                                        <div class="form-floating form-floating-group flex-grow-1"> 
                                            {{form.comentario|add_class:"form-control"|append_attr:"placeholder= Comentario"}}
                                            <label style="color: #121212;" for="id_area">Comentario*</label>
                                        </div>
                                </div>
                            </div>
                        </div>
              
                        <!--<div class="row">
                            <div class="col-12">
                                {{form.comprobante_pago|add_class:"form-control"|append_attr:"placeholder= Comprobante de pago"}}
                            </div>
                        </div>-->
                
                    </div>
            </div>
            <div class="card-footer text-end">
                <h6>Registrar Transacción|Movimiento de cuenta</h6>
                <button id="myBtn" name = "envio" type="submit" class="btn btn-success">Registrar</button>
                <a type="button" class="btn btn-secondary" href="{% url 'control-bancos' cuenta.id %}">Cerrar</a>
            </div>
        </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>




document.getElementById('myForm').addEventListener('submit', function() {
    // Espera 150 milisegundos antes de deshabilitar el botón de envío
    setTimeout(function() {
        document.getElementById('myBtn').disabled = true;
    }, 50);
    // Remover campos no visibles del DOM
    var tipo = document.getElementById('id_tipo').value;
    if (tipo === '1' || tipo === '2') {
        removeFormFields('formulario_transferencia');
    }
});

document.getElementById('id_tipo').addEventListener('change', function(event) {
    var tipo = event.target.value;
    console.log(tipo)
    var formTransferencia = document.getElementById('formulario_transferencia');
    var btn = document.getElementById('myBtn');
    
    if (tipo === '1' ||  tipo === '2') {
        
        formTransferencia.classList.add('d-none');
        btn.name = 'envio';
    } else if (tipo === '3') {
        formTransferencia.classList.remove('d-none');
        btn.name = 'envio_transferencia';
    }
});



document.getElementById('myForm').addEventListener('submit', function(event) {
    setTimeout(function() {
        document.getElementById('myBtn').disabled = true;
    }, 50);

   
});




/* *******************NO BORRAR EL CODIGO**********************
este era para evitar el envío doble cuando era un modal
htmx.defineExtension('disable-on-submit', {
  onEvent: function(name, evt) {
    if (name === 'htmx:configRequest') {
      var target = evt.detail.elt;
      if (target.tagName === 'FORM') {
        var button = target.querySelector('input[type="submit"]');
        if (button) {
          button.disabled = true;
        }
      }
    }
  },
});
document.getElementById('id_monto').addEventListener('change',(event)=>{
    var tipo = document.getElementById("id_tipo_de_cambio").value;
    //var monto = document.getElementById('').value;
    var monto = document.getElementById('id_monto')
    console.log(tipo)
    calculo_previo = document.getElementById('lbl_calculo')
    var alertDiv = document.querySelector('#lbl_calculo .alert');
    var mybtn = document.getElementById('myBtn')

    if (compra_moneda == "PESOS"){
        if (monto <= 0 || tipo_cambio <= 0){
            mybtn.classList.add('d-none')
        } else {
            mybtn.classList.remove('d-none')
        }
    }
    if (compra_moneda == "DOLARES"){
    if (monto <= 0 || tipo <= 0){
            mybtn.classList.add('d-none')
        } else {
            total_dolares = monto.value/tipo
            console.log(total_dolares)
            alertDiv.innerHTML = '<h6>Cálculo previo: </h6>$ ' + parseFloat(total_dolares).toFixed(2) + ' USD';
            //monto_real.value = parseFloat(total_dolares).toFixed(4)
            mybtn.classList.remove('d-none')
        }
    }
    });


document.getElementById('id_comprobante_pago').addEventListener('change', function(event){
  var file = event.target.files[0];
  var formData = new FormData();
  formData.append('comprobante_pago', file);
  
  // Añadir CSRF token a la solicitud AJAX
  formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

  fetch('/tesoreria/prellenar_formulario/', { // Asegúrate de que esta es la URL correcta para tu vista
    method: 'POST',
    body: formData,
    headers: {
      'X-Requested-With': 'XMLHttpRequest', // Indicar que es una solicitud AJAX
    },
  })
  .then(response => response.json()) // Asegúrate de que el backend devuelva un JSON
  .then(data => {
    // Ahora puedes actualizar los valores de tu formulario con los datos extraídos
    document.querySelector('[name="monto"]').value = data.monto;
    //document.querySelector('[name="cuenta"]').value = data.cuenta;
    document.querySelector('[name="pagado_real"]').value = data.pagado_real;
    var cuentaId = data.cuenta; // Asegúrate de que este es el ID de la Cuenta
    var $selectElement = $('[name="cuenta"]');
    $selectElement.val(cuentaId).trigger('change');
  })
  .catch(error => console.error('Error:', error));
});*/



var datosCuenta = {{cuentas_para_select2|safe }};


$(document).ready(function() {
  
    $('#id_cuenta').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Selecciona una cuenta',
        data: datosCuenta,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
    $('#id_cuenta').on('select2:select', function(e) {
        var data = e.params.data;
        var moneda = data.moneda;
        var tipo_cambio = document.getElementById('text_tc')
        console.log(moneda)
    });
});

$(document).ready(function() {
  
  $('#id_abono-cuenta').select2({
      allowClear: true,
      width: '100%',
      placeholder: 'Selecciona una cuenta',
      data: datosCuenta,
      templateResult: formatRepo, // Función para renderizar los resultados
      templateSelection: formatRepoSelection // Función para renderizar la selección
  });
  $('#id_abono-cuenta').on('select2:select', function(e) {
      var data = e.params.data;
      var moneda = data.moneda;
      var tipo_cambio = document.getElementById('text_tc')
      console.log(moneda)
  });
});

function formatRepo (repo) {
    if (repo.loading) {
        return repo.text;
    }

    var $container = $("<div class='select2-result-repository clearfix'>" +
        "<div class='form-control form-control-lg select2-result-repository__title'></div>" +
        "</div>");

    $container.find(".select2-result-repository__title").text(repo.text);
    
    // Aquí podrías agregar más elementos al contenedor si es necesario.

    return $container;
}
function formatRepoSelection (repo) {
    return repo.text || repo.id;
}
//This is the function that remove any product from render product table and remove the specific element from the array
/*function deleteRow(element) {
     producto="{{p.id|unlocalize}}"
    let btn_delete = document.getElementById('delete');
    let monto = btn_delete.getAttribute('monto');
    let tipo_de_cambio = btn_delete.getAttribute('tc');
    let moneda = btn_delete.getAttribute('moneda');
    let id = btn_delete.getAttribute('producto');
    
   
    //console.log(id)
    //console.log(precio)
    var action = "remove";
    ActualizarArticulos(id, monto, moneda, tipo_de_cambio);

}

function ActualizarArticulos(id, monto, moneda, tipo_de_cambio){
    console.log('User is logged in, sending data...' )

    var url = '/compras/update_oc/'

    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'id':id, 'monto':monto, 'moneda':moneda, 'tipo_de_cambio':tipo_de_cambio})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        location.reload()
    })
}
*/

</script>
{% endblock %}
</body>
</html>