{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
{% load l10n %}
<html>
<head>
{% block title %}Cuentas por pagar|Compras autorizadas{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<h6>&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class = "col" id="response-div">
        <div class="card">
            <div class="card-header">
                <h5>Filtro de Compras Autorizadas| Por pagar </h5>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <div class="col-lg-3 col-md-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder= Folio"}}
                                <label style="color: #121212;" for="id_codigo">Folio</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor"}}
                                <label style="color: #121212;" for="id_codigo">Proveedor</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.req|add_class:"form-control"|append_attr:"placeholder= Requisición"}}
                                <label style="color: #121212;" for="id_codigo">Requisición</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                                <label style="color: #121212;" for="id_codigo">Proyecto</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-12">
                    <div class="col-lg-3 col-md-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.subproyecto|add_class:"form-control"|append_attr:"placeholder= Subroyecto"}}
                                <label style="color: #121212;" for="id_codigo">Subproyecto</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.start_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.end_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.pago|add_class:"form-control"|append_attr:"placeholder=Condiciones Pago"}}
                            <label style="color: #121212;" for="id_subproyecto">Condiciones Pago:</label>
                            </div>
                        </div>
                    </div>
                    {% if usuario.distritos.nombre == "MATRIZ" %}
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.distrito|add_class:"form-control"|append_attr:"placeholder=Distrito"}}
                                <label style="color: #121212;" for="id_subproyecto">Distrito:</label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                   
                    <div class="col-2 mt-1">
                        <button class="btn btn-outline-success btn-block btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                <form method="POST" onsubmit="mostrarIndicadorCarga();">
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" name="btnReporte" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>-->
                        <!--<li class="nav-item mx-2">
                            <div class="btn-group btn-group" role="group" aria-label="Large button group">
                                <a type="button" class="btn btn-outline-info active" style="color:#F5F5F5; background:#3E92CC; border-color: #3E92CC;" href="{% url 'compras-autorizadas' %}">Compras</a>
                                <a type="button" class="btn btn-outline-info" href="{% url 'pago-gastos-autorizados' %}">Gastos</a>
                                <a type="button" class="btn btn-outline-info" href="{% url 'viaticos-autorizados-pago' %}">Viaticos</a>
                                
                            </div>
                        </li>-->
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->
    <div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
            <p style="color: white; margin: 0;">Generando reporte, por favor espera...<i class="fa-solid fa-mug-hot"></i></p>
        </div>
    </div>
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="card bg-white my-2">
    
    <form id="mass_payment_form" method="post" action="{% url 'compras-por-pagar' %}">
        {% if usuario.tipo.para_pago %}
        <ul class="nav nav-pills">
            <li class="nav-item mx-2">
                <div col-lg-2>
                    <div class="alert alert-primary" role="alert">Total OC seleccionadas: <span id="oc_count">0</span></div>
                </div>
            </li>
            <li class="nav-item mx-2">
                <div col-lg-2>
                    <div class="alert alert-primary" role="alert">Suma total: <span id="oc_sum">0.00</span></div>
                </div>
            </li>
                <input type="submit" value="Enviar a pago" id="enviar_a_pago_button" class="btn btn-primary">
        </ul>
        {% endif %}
   
    {% csrf_token %}
    <div class="col-md-12">
        <div class ="table-responsive-sm">
            <table class="table table-striped table-hover bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Compra</th>
                    <th class="d-none d-lg-table-cell">Solicitado por</th>
                    <th class="d-none d-lg-table-cell">Autorizado por</th>
                    <th scope="col">Proyecto</th>
                    <th  class="d-none d-lg-table-cell">Subproyecto</th>
                    <th  class="d-none d-md-table-cell">Autorizado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Importe OC</th>
                    <th> Flete</th>
                    <th class="d-none d-md-table-cell">Moneda</th>
                    <th class="d-none d-md-table-cell">Pagado</th>
                    <th class="d-none d-md-table-cell">Condiciones</th>
                    <th class="d-none d-md-table-cell">Status Entrada</th>
                    <th>Facturas</th>
                    <th scope="col">Detalles</th>
                    {% if usuario.tipo.para_pago %}
                    <th>Prioridad</th>
                    <th>Editar</th>
                    <th>Cancelar</th>
                    <th>Para Pago</th>
                    <th>Parcialidad</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for compra in compras_list %}
                <tr>
                    <th scope="row">{{compra.folio}}</th>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.staff.staff.staff.first_name}} {{compra.req.orden.staff.staff.staff.last_name}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.oc_autorizada_por2.staff.staff.first_name}} {{compra.oc_autorizada_por2.staff.staff.last_name}}</td>
                    <td>{{compra.req.orden.proyecto.nombre}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.subproyecto.nombre}}</td>
                    <td class="d-none d-md-table-cell">{{compra.autorizado_at_2}}</td>
                    <td>{{compra.proveedor}}</td>
                    <td>${{compra.costo_plus_adicionales|floatformat:2}}</td>
                    <td>${{compra.costo_fletes}}</td>
                    <td class="d-none d-md-table-cell">{{compra.moneda}}</td>
                    <td class="d-none d-md-table-cell">${{compra.monto_pagado}}</td>
                    <td class="d-none d-md-table-cell">{{compra.cond_de_pago}}</td>
                    <td class="d-none d-lg-table-cell">
                        {% if compra.no_conformidad.all|length > 0 %}
                            <span class="badge bg-danger">
                                NC: {{ compra.no_conformidad.first.tipo_nc }}
                            </span>
                        {% endif %}
                        {% if compra.entrada_completa %}<span class="badge bg-primary">Entregada</span>
                            {% for entrada in compra.vale_entrada.all %}
                                {% if entrada.entrada_date %}
                                    {{ entrada.entrada_date|default_if_none:''|date:'d/m/Y' }}
                                {% endif %}
                            {% endfor %}
                        {% elif compra.entrada_parcial > 0 %}<span class="badge bg-success">Avance: {{compra.entrada_parcial}}%</span>
                        
                        {% else %}<span class="badge bg-warning">No entregado aún</span> {% endif %}
                        {% if compra.monto_anticipo > 0 %} <span class="badge bg-success">Anticipo: ${{compra.monto_anticipo}}</span>{% endif %}
                    </td>
                    {% if compra.facturas.exists %}
                        {% if compra.facturas.all.count > 1 %}
                            <td><a type="button" href="{% url 'matriz-facturas-nomodal' compra.id %}?next={{ request.path }}&proveedor={{ request.GET.proveedor }}&distrito={{ request.GET.distrito }}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Tiene Facturas"><i class="fa-solid fa-file-circle-check"></i></button></td>
                        {% elif compra.facturas.all.count == 1 %}
                            {% for factura in compra.facturas.all %}
                                {% if factura.hecho %}
                                <td><a type="button" href="{% url 'matriz-facturas-nomodal' compra.id %}?next={{ request.path }}&proveedor={{ request.GET.proveedor }}&distrito={{ request.GET.distrito }}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Tiene Facturas"><i class="fa-solid fa-file-circle-check"></i></button></td>
                                {% else %}
                                    <td><a type="button" href="{% url 'matriz-facturas-nomodal' compra.id %}?next={{ request.path }}&proveedor={{ request.GET.proveedor }}&distrito={{ request.GET.distrito }}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas"><i class="fa-solid fa-file-circle-xmark"></i></button></td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td><a type="button" href="{% url 'matriz-facturas-nomodal' compra.id %}?next={{ request.path }}&proveedor={{ request.GET.proveedor }}&distrito={{ request.GET.distrito }}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas"><i class="fa-solid fa-file-circle-xmark"></i></button></td>
                        {% endif %}
                    {% else%}
                        <td><a type="button" href="{% url 'matriz-facturas-nomodal' compra.id %}?next={{ request.path }}&proveedor={{ request.GET.proveedor }}&distrito={{ request.GET.distrito }}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas"><i class="fa-solid fa-file-circle-xmark"></i></button></td>
                    {% endif %}
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item m-1">
                                <a id="myBtn" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'productos-oc' compra.id %}">Productos</a>
                            </li>
                            <li>
                                <a type="button" class="btn btn-outline-info" href="{% url 'oc-pdf' compra.id%}"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                            </li>
                            
                        </ul>
                    </td>
                    <!--if usuario.tipo.nombre == "SUPERIN_ADM" or usuario.distritos.nombre == "MATRIZ" or usuario.tipo.nombre == "GERENTE_ALT" or usuario.tipo.nombre == "Admin" % -->
                    {% if usuario.tipo.para_pago %}
                        <td id="prioridad_{{ compra.id|unlocalize }}">
                            {{ compra.tipo_prioridad.nombre }}
                        </td>
                        <td id="form_prioridad_{{ compra.id|unlocalize }}" class="form-select d-none">
                            <select id="select_prioridad_{{ compra.id|unlocalize }}">
                                 {% for tipo in tipos_prioridad %}
                                <option value="{{ tipo.id }}" {% if compra.tipo_prioridad and compra.tipo_prioridad.id == tipo.id %}selected{% endif %}>
                                    {{ tipo.nombre }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary d-none" id="save_prioridad_{{ compra.id|unlocalize}}" onclick="guardar_prioridad('{{ compra.id|unlocalize }}')">
                                <i class="fa-regular fa-circle-check"></i>
                            </button>
                            <button class="btn add-btn d-none" id="cancel_prioridad_{{ compra.id|unlocalize }}" onclick="cancelar_edicion_prioridad('{{ compra.id|unlocalize }}')" style="color:ghostwhite; background-color:#980F0F;">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </button>
                            <a class="btn btn-outline-info" id="modificar_prioridad_{{ compra.id|unlocalize }}" onclick="modificar_prioridad('{{ compra.id|unlocalize }}')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
                            
                            <a type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document"  hx-swap="innerHTML" hx-get="{% url 'cancelar-oc2' compra.id %}"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                        <td>
                            {% if compra.cond_de_pago.nombre == "CREDITO" and not compra.entrada_completa and not compra.entrada_parcial and not compra.monto_anticipo  %}
                           
                            {% else %}
                            <input class="oc_checkbox form-check-input" style="transform: scale(2); margin: 5px;" data-id="{{ compra.id|unlocalize }}" type="checkbox" name="compra_ids" value="{{ compra.id|unlocalize }}">
                            {% endif %}
                        </td>
                        <td>
                            <input type="hidden" data-id="{{ compra.id|unlocalize }}" class="costo_plus_adicionales" value="{{ compra.costo_plus_adicionales|unlocalize }}">
                            <input type="hidden" data-id="{{ compra.id|unlocalize }}" class="pagado" value="{{ compra.monto_pagado|unlocalize }}">
                            <input class="form-control diferencia" type="textbox" data-id="{{ compra.id|unlocalize }}" name="parcial_{{ compra.id|unlocalize }}" value="">
                        </td>
                        
                    {% endif %}
                </tr>
               
                    
                
                {% endfor %}
            </tbody>
            </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if compras_list.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in compras_list.paginator.page_range %}
                    {% if compras_list.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > compras_list.number|add:'-2' and item < compras_list.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if compras_list.paginator.num_pages > compras_list.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{compras_list.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.paginator.num_pages 'page' request.GET.urlencode %}">{{compras_list.paginator.num_pages}}</a></li>
                {% endif %}

                {% if compras_list.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>
    </form>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.oc_checkbox');
        const ocCountElement = document.getElementById('oc_count');
        const ocSumElement = document.getElementById('oc_sum');
        const layoutPagosButton = document.getElementById('enviar_a_pago_button');
        var diferenciaElements = document.querySelectorAll('.diferencia');

        // Inicializar o cargar el array que almacenará los ids y montos seleccionados
        let selectedPurchases = JSON.parse(localStorage.getItem('selectedPurchases')) || [];
        // Cargar el estado de los checkboxes desde localStorage
        initializeDifferencesAndCheckboxes();


        // Actualizar la sumatoria y conteo al cargar la página
        updateCountAndSum();

        checkboxes.forEach(checkbox => {
            //console.log('Estoy marcando los checkboxes')
            checkbox.addEventListener('change', updateCountAndSum);
        });

        function updateCountAndSum() {
            let count = 0;
            let sum = 0;

            checkboxes.forEach((checkbox) => {
               
                const id = checkbox.getAttribute('data-id');
                const diferenciaElement = document.querySelector(`.diferencia[data-id="${id}"]`);
                
                if (checkbox.checked) {
                     // Verificar si el ID ya está en el array
                     const existingPurchase = selectedPurchases.find(purchase => purchase.id === id);
                    if (!existingPurchase && diferenciaElement) {
                        // Agregar el nuevo ID y monto al array
                        selectedPurchases.push({
                        id: id,
                        monto: parseFloat(diferenciaElement.value) || 0
                        });
                    }
                } else {
                    // Si se desmarca, eliminar del array
                    selectedPurchases = selectedPurchases.filter(purchase => purchase.id !== id);
                }
                
            });
             // Guardar el estado en localStorage
            localStorage.setItem('selectedPurchases', JSON.stringify(selectedPurchases));
            // Actualizar los contadores de cantidad y sumatoria
            count = selectedPurchases.length;
            sum = selectedPurchases.reduce((acc, purchase) => acc + purchase.monto, 0);

            ocCountElement.textContent = count;
            ocSumElement.textContent = sum.toFixed(2);
           
        }

        layoutPagosButton.addEventListener('click', function(event) {
             // Limpiar el localStorage cuando se presiona el botón
            event.preventDefault(); // Detener el envío del formulario por defecto
            const form = document.getElementById('mass_payment_form');  // Asegúrate de tener un id en tu formulario

            selectedPurchases.forEach(purchase => {
                // Crear inputs ocultos para cada compra_id seleccionada y su parcial
                const inputCompraId = document.createElement('input');
                inputCompraId.type = 'hidden';
                inputCompraId.name = 'compra_ids';  // Debe coincidir con lo que esperas en la vista
                inputCompraId.value = purchase.id;

                const inputParcial = document.createElement('input');
                inputParcial.type = 'hidden';
                inputParcial.name = `parcial_${purchase.id}`;
                inputParcial.value = purchase.monto;

                // Agregar los inputs ocultos al formulario
                form.appendChild(inputCompraId);
                form.appendChild(inputParcial);
            });
        // Limpiar el localStorage después de agregar los datos
        localStorage.removeItem('selectedPurchases');
        // Finalmente enviar el formulario con todos los datos añadidos
        form.submit();
        });
        function initializeDifferencesAndCheckboxes() {
        // Revisar si el ID de los checkboxes actuales está en el array de seleccionados
        checkboxes.forEach((checkbox) => {
            const id = checkbox.getAttribute('data-id');
            const existingPurchase = selectedPurchases.find(purchase => purchase.id === id);
            if (existingPurchase) {
                checkbox.checked = true;
            }
        });

        // Calcular las diferencias y asignar a los inputs .diferencia
        diferenciaElements.forEach((diferenciaElement) => {
            const id = diferenciaElement.getAttribute('data-id');
            const costoElement = document.querySelector(`.costo_plus_adicionales[data-id="${id}"]`);
            const pagadoElement = document.querySelector(`.pagado[data-id="${id}"]`);

            if (costoElement && pagadoElement) {
                const costoPlusAdicionales = parseFloat(costoElement.value) || 0;
                const pagado = parseFloat(pagadoElement.value) || 0;
                const diferencia = costoPlusAdicionales - pagado;
                
                // 1) Propiedad que usa el input
                diferenciaElement.value = diferencia.toFixed(2);

                // 2) Atributo HTML (para que lo veas en DevTools tal cual)
                diferenciaElement.setAttribute('value', diferencia.toFixed(2));

                // 3) Guarda el máximo permitido en un data-atributo
                diferenciaElement.dataset.valor = diferencia.toFixed(2);

                 // Agregar validación en el evento change
                diferenciaElement.addEventListener('change', function () {
                    const maxPermitido = parseFloat(this.dataset.valor);
                    const valorIngresado = parseFloat(this.value) || 0;

                    if (valorIngresado > maxPermitido) {
                        alert(`El valor no puede ser mayor a ${maxPermitido}`);
                        this.value = maxPermitido.toFixed(2);
                    }
                });
            }
        })
    }


    });

var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
})



// Función para obtener el valor de una cookie por su nombre
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function mostrarIndicadorCarga() {
    document.getElementById('loadingIndicator').style.display = 'block';
    verificarDescargaIniciada();
}

function verificarDescargaIniciada(){
    const checkDescarga = setInterval(() => {
        const descargaIniciada = getCookie('descarga_iniciada');
        if (descargaIniciada === 'true') {
            // Ocultar el indicador de carga
            document.getElementById('loadingIndicator').style.display = 'none';
            
            // Opcional: Borrar la cookie si es necesario
            document.cookie = 'descarga_iniciada=; Max-Age=-99999999;';
            
            clearInterval(checkDescarga);
        }
    }, 1000); // Revisar cada segundo
}

function modificar_prioridad(compraId) {
    document.getElementById("prioridad_" + compraId).classList.add("d-none");
    document.getElementById("form_prioridad_" + compraId).classList.remove("d-none");
    document.getElementById("save_prioridad_" + compraId).classList.remove("d-none");
    document.getElementById("cancel_prioridad_" + compraId).classList.remove("d-none");
    document.getElementById("modificar_prioridad_" + compraId).classList.add("d-none");
}

function cancelar_edicion_prioridad(compraId) {
    document.getElementById("prioridad_" + compraId).classList.remove("d-none");
    document.getElementById("form_prioridad_" + compraId).classList.add("d-none");
    document.getElementById("save_prioridad_" + compraId).classList.add("d-none");
    document.getElementById("cancel_prioridad_" + compraId).classList.add("d-none");
    document.getElementById("modificar_prioridad_" + compraId).classList.remove("d-none");
}

function guardar_prioridad(compraId) {
     const select = document.getElementById(`select_prioridad_${compraId}`);
    if (!select) {
        console.error('No se encontró el select de prioridad');
        return;
    }

    const opt = select.options[select.selectedIndex] || select.options[0];
    const tipoId = opt.value;
    const tipoTexto = opt.textContent.trim();




    fetch('/tesoreria/actualizar_prioridad/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ compra_id: compraId, tipo_prioridad_id: tipoId })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("prioridad_" + compraId).textContent = tipoTexto;
        cancelar_edicion_prioridad(compraId);
    })
    .catch(error => console.error('Error:', error));
}
</script>

</script>
{% endblock %}
</body>
</html>