{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load djmoney %}
{% load widget_tweaks %}
{% load l10n %}
<html>
<head>
{% block title %}Pago OC{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes exitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>

<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="col-lg-6 offset-lg-3 col-sm-12" >
    <div class="card">
        <div class="card-header">
            <h5 class="modal-title" id="compra" value="{{compra.id}}" compra_pagos="{{compra_pagos}}">Compra: {{compra.folio}} | Pago: {{pago.id}}</h5>
        </div>

        <div class="card-body">
                <table class='table table-striped'>
                    <thead>
                        <tr>
                        <th scope="col">Proveedor:</th>
                        <th scope="col">{{compra.proveedor.nombre.razon_social}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">RFC:</th>
                            <th scope="col">{{compra.proveedor.nombre.rfc}}</th>
                        </tr>
                        {% if compra.deposito_comprador %}
                         <tr>
                            <th scope="col">Comentario:</th>
                            <th scope="col">Esta depósito se realizará a la cuenta de {{compra.deposito_comprador.staff.first_name}} {{compra.deposito_comprador.staff.last_name}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Banco Colaborador:</th>
                            <th scope="col">{{compra.deposito_comprador.banco.nombre}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Cuenta:</th>
                            <th scope="col">{{compra.proveedor.cuenta}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Clabe:</th>
                            <th scope="col">{{compra.proveedor.clabe}}</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th scope="col">Banco:</th>
                            <th scope="col">{{compra.proveedor.banco}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Cuenta:</th>
                            <th scope="col">{{compra.proveedor.cuenta}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Clabe:</th>
                            <th scope="col">{{compra.proveedor.clabe}}</th>
                        </tr>
                        {% if compra.monto_anticipo %}
                        <tr>
                            <th scope="col">Anticipo en OC</th>
                            <th scope="col">{{compra.monto_anticipo}}</th>
                        </tr>
                        {% endif %}
                        {% if compra.referencia %}
                        <tr>
                            <th scope="col">Referencia</th>
                            <th scope="col">{{compra.referencia}}</th>
                        </tr>
                        {% else %}
                        <tr> </tr>
                        {% endif %}
                        {% endif %}
                        <tr>
                            <th scope="col">Moneda</th>
                            <th scope="col">{{compra.moneda.nombre}}</th>
                        </tr>
                    </tbody>
                </table>
              
                <table class='table table-striped'>
                    <thead>
                        <tr>
                        <th scope="col">Importe Compra</th>
                        <th id="importe" value={{compra.costo_plus_adicionales}} moneda={{compra.moneda.nombre}} scope="col"> ${{compra.costo_oc|floatformat:4}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Impuestos</th>
                            <th scope="col"> ${{compra.costo_iva|floatformat:4}}</th>
                        </tr>
                        {% if compra.impuestos %}
                        <tr>
                            <th scope="col">Impuestos Adicionales</th>
                            <th scope="col"> ${{compra.impuestos|floatformat:4}}</th>
                        </tr>
                        {% endif %}
                        {% if compra.retencion %}
                        <tr>
                            <th scope="col">Retención</th>
                            <th scope="col">-${{compra.retencion|floatformat:4}}</th>
                        </tr>
                        {% endif %}
                        {% if compra.costo_fletes > 0 %}
                        <tr>
                            <th scope="col">Flete</th>
                            <th scope="col">${{compra.costo_fletes}}</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="col">Pagado:</th>
                            <th id="total" value={{suma_pagos}} scope="col" style="color:#3e92cc" monto="{{monto}}">${{monto|floatformat:4}}</th>
                        </tr>
                        {% if suma_pago_usd > 0 %}
                        <tr>
                            <th scope="col">Pagado USD:</th>
                            <th id="total" value={{suma_pago_usd}} scope="col" style="color:#3e92cc" monto="{{monto}}">${{suma_pago_usd|floatformat:4}}</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Remanente:</th>
                            <th id="remanente" remanente="{{remanente|unlocalize}}">${{remanente|floatformat:4}}</th>
                        </tr>
                        <tr>
                            <th>Parcialidad</th>
                            <th  id="parialidad" parcialidad="{{compra.parcial|unlocalize}}" style="color:#3e92cc">${{compra.parcial|floatformat:4}}</th>
                        </tr>
                    </tbody>
                </table>
                <div class ="table-responsive">
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th scope="col-3">#</th>
                            <th scope="col-2">Pagado</th>
                            <th scope="col-2">Moneda</th>
                            <th scope="col-2">T.C.</th>
                            <th scope="col-3">Cuenta</th>
                            <th scope="col-3">Fecha</th>
                            <th scope="col-2">Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in pagos_alt %}
                        <form method="post" action="{% url 'edit-pago' p.id %}">
                        {% csrf_token %}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.monto|floatformat:2}}</td>
                            <td>{{p.cuenta.moneda}}</td>
                            {% if p.tipo_de_cambio %}
                            <td>{{p.tipo_de_cambio}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{p.cuenta.banco}} - {{p.cuenta.cuenta}}</td>
                            <td>{{p.pagado_date}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{ p.id|unlocalize }}" title="Ver comprobante de pago">
                                    <i class="fa-solid fa-eye"></i>
                                </button> 
                                <div class="modal fade" id="pdfModal{{ p.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ p.id|unlocalize }}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="pdfModalLabel{{ p.id|unlocalize }}">Comprobante de Pago</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe src="{{ p.comprobante_pago.url }}#zoom=80" width="100%" height="750px"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="{{p.comprobante_pago.url}}" download class="btn btn-outline-info">
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                </a>-->
                            </td>
                            <td>
                                <button name="btn_eliminar" type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-outline-info" type="submit" name="btn_actualizar"  id="btnActualizar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        </tr>
                        </form>
                   {% endfor %}
                   </tbody>
                </table>
                </div>
        
      
        <form id="myForm" method="post" enctype="multipart/form-data">
            <div class="col">
                {% csrf_token %}
                <!--<div class="row">
                    <div class="card-footer text-end">
                        <button onclick="pagarTodo()"  class="btn btn-outline-info">Pagar todo</button>
                    </div>
                </div>-->
                <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1"> 
                                        {{form.cuenta}}
                                    </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field form.pagado_real type="date" class="form-control" %}
                                <label style="color: #121212;" for="id_subproyecto">Fecha Pago:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-clock"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field form.pagado_hora type="time" class="form-control" %}
                                <label style="color: #121212;" for="id_pagado_hora">Hora Pago:</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                        <div class="col-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-dollar-sign"></i></span>
                            <input type="text" class="form-control d-none" id="monto_dolares" placeholder="Dolares...">      
                                <div class="form-floating form-floating-group flex-grow-1">   
                                        {{form.monto|add_class:"form-control"|append_attr:"placeholder= Monto"}}
                                        <label style="color: #121212;" for="id_area">Monto*</label>
                                </div>
                            </div>
                        </div>
                </div>
               
                <div class="row my-2">
                    <div class="col-lg-6 col-md-12 d-none" id="text_tc">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">TC</span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.tipo_de_cambio|add_class:'form-control'|append_attr:"placeholder= Tipo de Cambio"}}
                                <label style="color: #121212;" for="id_area">TC</label>
                            </div>           
                        </div>
                    </div>
                    <div id="lbl_tipo_cambio" tc="{{compra.tipo_de_cambio}}" class="col-lg-3 col-md-6">
                        <div class="alert alert-secondary" role="alert">
                        <h6>TC: {{compra.tipo_de_cambio}}</h6>   
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div id="lbl_calculo" class="col-lg-3 col-md-6">
                        <div class="alert alert-secondary" role="alert">
                        <h6>Cálculo previo: </h6>   
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                        <div class="col-12">
                            {{form.comprobante_pago|add_class:"form-control"|append_attr:"placeholder= Comprobante de pago"}}
                        </div>
                </div>
                    
                
            </div>
            <div class="card-footer text-end">
                
                <h6>Registrar pago: {{compra.folio}}</h6>
                {% if usuario.tipo.superintendente %}
                   
                    <button id="btnCerrar" name="cerrar_sin_pago" type="submit" class="btn btn-warning">
                        Cerrar OC
                    </button>
                    
                {% endif %}
                <button id="myBtn" name = "envio" type="submit" class="btn btn-success">Registrar</button>
                <a type="button" class="btn btn-secondary" href="{% url 'compras-autorizadas' %}">Cerrar</a>
            </div>

        </form>
        </div>
    </div>
</div>
<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando reporte, por favor espera...&nbsp;<i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
{% if usuario.tipo.superintendente %}
document.getElementById("btnCerrar").addEventListener("click", function (e) {
    Swal.fire({
    title: '¿Cerrar gasto sin pago completo?',
    html: `
        <p>Recuerda que esta acción marcará el gasto como cerrado sin pago completo.</p>
        <textarea id="comentarioCierre" class="swal2-textarea" placeholder="Escribe un comentario de cierre..." required></textarea>
    `,
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#6c757d',
    confirmButtonText: 'Sí, cerrar Gasto',
    cancelButtonText: 'Cancelar',
    preConfirm: () => {
        const comentario = document.getElementById('comentarioCierre').value.trim();
        if (!comentario) {
            Swal.showValidationMessage('Por favor escribe un comentario de cierre.');
            return false;
        }
        return comentario;
    }
    }).then((result) => {
        if (result.isConfirmed) {
            const comentario = result.value;

            const form = document.getElementById('myForm');

            // Input oculto para marcar el cierre sin pago
            const inputCerrar = document.createElement('input');
            inputCerrar.type = 'hidden';
            inputCerrar.name = 'cerrar_sin_pago';
            inputCerrar.value = 'true';

            // Input oculto para el comentario
            const inputComentario = document.createElement('input');
            inputComentario.type = 'hidden';
            inputComentario.name = 'comentario_cierre';
            inputComentario.value = comentario;

            form.appendChild(inputCerrar);
            form.appendChild(inputComentario);

            form.submit();
        }
    });
});
{% endif %}

function mostrarIndicadorCarga() {
    // Mostrar el indicador de carga
    document.getElementById('loadingIndicator').style.display = 'block';

    // Desactivar el botón de envío para evitar doble clic
    var btn = document.getElementById('submit-button');
    if (btn) {
        btn.disabled = true;
        btn.classList.add('d-none');
    }

    // Retorna true para permitir el envío del formulario
    return true;
}

function pagarTodo() {
    // Opción A: Obtener el valor de 'remanente' desde el elemento oculto
    var remanente = document.getElementById('remanente');
    var valor_remanente = remanente.getAttribute('remanente')
    console.log(valor_remanente)
    valor= Number(valor_remanente).toFixed(4)
    // Actualizar el campo 'monto' del formulario con el valor de 'remanente'
    document.getElementById('id_monto').value = valor // Asegúrate de que el selector apunte correctamente al campo 'monto'
}


var compra = document.getElementById("importe");
var compra_moneda = compra.getAttribute("moneda");
var monto_moneda = document.getElementById("id_monto");
//var tipo_cambio = document.getElementById("id_tipo_de_cambio");
//var lbl_tipo = document.getElementById("lbl_tipo");
//if (tipo_cambio) {
//    tipo_cambio.setAttribute("class","form-control d-none");

//}
//document.getElementById('myForm').addEventListener('submit', function() {
    // Espera 150 milisegundos antes de deshabilitar el botón de envío
//    setTimeout(function() {
//        document.getElementById('myBtn').disabled = true;
//    }, 50);
//});
document.getElementById('myForm').addEventListener('submit', function(event) { 
    // Obtiene los valores de los campos
    let monto = document.getElementById('id_monto').value || 0;
    const remanente_field = document.getElementById('remanente');
    const parcialidad_field = document.getElementById('parcialidad')
    let remanente = remanente_field.getAttribute('remanente');
    let parcialidad = parcialidad_field.getAttribute('parcialidad')
    let tipo_cambio_element = document.getElementById('id_tipo_de_cambio');
    let tipo_cambio_visible = tipo_cambio_element.offsetParent !== null; // Devuelve true si es visible
    console.log(tipo_cambio_visible)
    let tipo_cambio = document.getElementById('id_tipo_de_cambio').value || 0;
    console.log(parseFloat(remanente))

    // Obtén la moneda seleccionada en el Select2
    let cuenta_select = $('#id_cuenta').select2('data')[0]; // primer item
    let moneda_cuenta = cuenta_select ? cuenta_select.moneda : "";
    
    if (tipo_cambio_visible) {
        if (!tipo_cambio || parseFloat(tipo_cambio) === 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error de validación',
                text: 'El tipo de cambio no puede estar vacío o ser 0.',
                confirmButtonText: 'Entendido'
            });
            event.preventDefault(); // Detiene el envío del formulario
            return;
        }
    }
   // Si la compra es en dólares y la moneda de la cuenta es "PESOS", hace la conversión
    if (compra_moneda == "DOLARES" && moneda_cuenta == "PESOS") {
        console.log(`TC: ${parseFloat(tipo_cambio)}`);
        monto = monto / tipo_cambio;
    } else {
        // No hace conversión si la cuenta es en DÓLARES
        monto = monto;
    }
    
    monto = parseFloat(monto);
    remanente = parseFloat(remanente);

   

    console.log(monto.toFixed(2))
    console.log(remanente.toFixed(2))
    const tolerancia = 0.2;
    if (parcialidad > 0 && parcialidad < remanente) {
        //Si existe parcialidad entonces el valor con el que se compara es contra la parcialidad
        valor_a_comparar = parcialidad
    } else {
        valor_a_comparar = remanente
    }
    
    // Verifica si el monto es mayor que el remanente
    if (Math.abs(monto - valor_a_comparar) > tolerancia)  {
    if (parseFloat(monto.toFixed(2)) > parseFloat(remanente.toFixed(2))) {
        Swal.fire({
            icon: 'error',
            title: 'Error de validación',
            text: 'El monto debe ser menor o igual al remanente. Favor de modificar el monto',
            confirmButtonText: 'Entendido'
        });
        event.preventDefault(); // Detiene el envío del formulario
        return;
    } else {
        mostrarIndicadorCarga();
        return true; // Permite
    }
});
/* *******************NO BORRAR EL CODIGO**********************
este era para evitar el envío doble cuando era un modal
htmx.defineExtension('disable-on-submit', {
  onEvent: function(name, evt) {
    if (name === 'htmx:configRequest') {
      var target = evt.detail.elt;
      if (target.tagName === 'FORM') {
        var button = target.querySelector('input[type="submit"]');
        if (button) {
          button.disabled = true;
        }
      }
    }
  },
});*/
document.getElementById('id_monto').addEventListener('change',(event)=>{
    var lblTipoCambio = document.getElementById("lbl_tipo_cambio");
    var tc = lblTipoCambio.getAttribute('tc');
    var tipo = document.getElementById("id_tipo_de_cambio").value || tc;
    var monto = parseFloat(document.getElementById('id_monto').value) || 0;
    console.log(monto)
    calculo_previo = document.getElementById('lbl_calculo')
    var alertDiv = document.querySelector('#lbl_calculo .alert');
    console.log(alertDiv)
    var mybtn = document.getElementById('myBtn')

    if (compra_moneda == "PESOS"){
        if (monto <= 0 || tipo_cambio <= 0){
            mybtn.classList.add('d-none')
        } else {
            mybtn.classList.remove('d-none')
        }
    }
    if (compra_moneda == "DOLARES"){
    if (monto <= 0 || tipo <= 0){
            mybtn.classList.add('d-none')
            console.log("Creo que es acá donde todo falla")
        } else {
            total_dolares = monto/tipo
            console.log(total_dolares)
            calculo_previo.classList.remove('d-none')
            alertDiv.innerHTML = '<h6>Cálculo previo: </h6>$ ' + parseFloat(total_dolares).toFixed(2) + ' USD';
            //monto_real.value = parseFloat(total_dolares).toFixed(4)
            mybtn.classList.remove('d-none')
        }
    }
    });


if (compra_moneda == "DOLARES"){
document.getElementById('id_tipo_de_cambio').addEventListener('change',(event)=>{
    var lblTipoCambio = document.getElementById("lbl_tipo_cambio");
    var tc = lblTipoCambio.getAttribute('tc');
    var tipo = document.getElementById("id_tipo_de_cambio").value || tc;
    var alertDiv = document.querySelector('#lbl_calculo .alert');
    var monto = parseFloat(document.getElementById('id_monto').value) || 0;
    console.log(tipo)
    calculo_previo = document.getElementById('lbl_calculo')
    var mybtn = document.getElementById('myBtn')
    if (compra_moneda == "PESOS"){
        if (monto <= 0 || tipo_cambio <= 0){
            mybtn.classList.add('d-none')
        } else {
            mybtn.classList.remove('d-none')
        }
    }
    if (compra_moneda == "DOLARES"){
        if (monto <= 0 || tipo <= 0){
            mybtn.classList.add('d-none')
            } else {
            total_dolares = monto / tipo
            alertDiv.innerHTML = '<h6>Cálculo previo: </h6>$ ' + parseFloat(total_dolares).toFixed(2) + ' USD';
            //monto_real.value = parseFloat(total_dolares).toFixed(4)
            mybtn.classList.remove('d-none')
            }
        }

})
}

document.getElementById('id_comprobante_pago').addEventListener('change', function(event){
  var file = event.target.files[0];
  var formData = new FormData();
  formData.append('comprobante_pago', file);
  
  // Añadir CSRF token a la solicitud AJAX
  //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

  fetch("{% url 'prellenar-formulario' %}", { // Asegúrate de que esta es la URL correcta para tu vista
    method: 'POST',
    body: formData,
    headers: {
      'X-Requested-With': 'XMLHttpRequest', // Indicar que es una solicitud AJAX    
      'X-CSRFToken': '{{ csrf_token }}', // Añadir el token CSRF
    },
  })
  .then(response => response.json()) // Asegúrate de que el backend devuelva un JSON
  .then(data => {
    // Ahora puedes actualizar los valores de tu formulario con los datos extraídos
    document.querySelector('[name="monto"]').value = data.monto;
    //document.querySelector('[name="cuenta"]').value = data.cuenta;
    document.querySelector('[name="pagado_real"]').value = data.pagado_real;
    if (data.hora_operacion) {
    // Solo deja HH:mm
    console.log(data.hora_operacion)
    const horaSinSegundos = data.hora_operacion.slice(0, 5);
    document.querySelector('[name="pagado_hora"]').value=  horaSinSegundos;
    }
    var cuentaId = data.cuenta; // Asegúrate de que este es el ID de la Cuenta
    var $selectElement = $('[name="cuenta"]');
    var divisa = data.divisa_cuenta
    console.log(divisa)
    $selectElement.val(cuentaId).trigger('change');
    if (divisa == "MXP" && compra_moneda == "DOLARES" ){
    var tipo_cambio = document.getElementById('text_tc')
    tipo_cambio.classList.remove('d-none');
    }
  })
  .catch(error => console.error('Error:', error));
});



var datosCuenta = {{cuentas_para_select2|safe }};


$(document).ready(function() {
  
    $('#id_cuenta').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Selecciona una cuenta',
        data: datosCuenta,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
    $('#id_cuenta').on('select2:select', function(e) {
        var data = e.params.data;
        var moneda = data.moneda;
        var tipo_cambio = document.getElementById('text_tc')
        console.log(moneda)
        var monto = document.getElementById('id_monto');
        var calculo_previo = document.getElementById('lbl_calculo');
        if (compra_moneda == "DOLARES"){
            if (moneda == "PESOS"){
            //lbl_calculo.classList.remove('d-none'); 
            //lbl_tipo_cambio.classList.remove('d-none');
            tipo_cambio.classList.remove('d-none');
            } else if (moneda =="DOLARES") {
                monto.value = ""
            tipo_cambio.value=""
            calculo_previo.innerHTML = ""
            //lbl_calculo.classList.add('d-none');
            //lbl_tipo_cambio.classList.add('d-none');
            tipo_cambio.classList.add('d-none');
            //monto_dolares.classList.add('d-none')
            monto.classList.remove('d-none');
            }
        }
    });
});

function formatRepo (repo) {
    if (repo.loading) {
        return repo.text;
    }

    var $container = $("<div class='select2-result-repository clearfix'>" +
        "<div class='form-control form-control-lg select2-result-repository__title'></div>" +
        "</div>");

    $container.find(".select2-result-repository__title").text(repo.text);
    
    // Aquí podrías agregar más elementos al contenedor si es necesario.

    return $container;
}
function formatRepoSelection (repo) {
    return repo.text || repo.id;
}
//This is the function that remove any product from render product table and remove the specific element from the array
/*function deleteRow(element) {
     producto="{{p.id|unlocalize}}"
    let btn_delete = document.getElementById('delete');
    let monto = btn_delete.getAttribute('monto');
    let tipo_de_cambio = btn_delete.getAttribute('tc');
    let moneda = btn_delete.getAttribute('moneda');
    let id = btn_delete.getAttribute('producto');
    
   
    //console.log(id)
    //console.log(precio)
    var action = "remove";
    ActualizarArticulos(id, monto, moneda, tipo_de_cambio);

}

function ActualizarArticulos(id, monto, moneda, tipo_de_cambio){
    console.log('User is logged in, sending data...' )

    var url = '/compras/update_oc/'

    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'id':id, 'monto':monto, 'moneda':moneda, 'tipo_de_cambio':tipo_de_cambio})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        location.reload()
    })
}
*/

</script>
{% endblock %}
</body>
</html>