{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
{% load l10n %}
<html>
<head>
{% block title %}Control Bancos{% endblock %}
</head>
<body>

{% block content %}
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class = "col" id="response-div">
        <div class="card">
            <div class="card-header">
            <h5>Control de Bancos | Cuenta: {{cuenta}}</h5>
            </div>
            <div class="card-body">
                
               
               
               
                {% csrf_token %}
                <form method="GET">
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder= Folio"}}
                                <label style="color: #121212;" for="id_id">Folio</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                                <label style="color: #121212;" for="id_id">Proyecto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.tipo|add_class:"form-control"|append_attr:"placeholder= Tipo"}}
                                <label style="color: #121212;" for="id_id">Tipo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.facturas_completas|add_class:"form-control"|append_attr:"placeholder= Facturas Completas"}}
                                <label style="color: #121212;" for="id_id">Facturas Completas</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.cuenta|add_class:"form-control"|append_attr:"placeholder= Cuenta"}}
                                <label style="color: #121212;" for="id_cuenta">Cuenta</label>
                            </div>
                        </div>
                    </div>
                    
                    <div id="serie" class="col-lg-2 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.start_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.end_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block btn-lg mt-1" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                <form method=POST onsubmit="mostrarIndicadorCarga();">
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button id="btnReporte" name="btnReporte" type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-info"  href="{% url 'transferencia-cuentas' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Transferencia">
                              <i class="fa-solid fa-money-bill-transfer"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-info" href="{% url 'saldo-inicial' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Saldo Inicial">
                                <i class="fa-solid fa-sack-dollar"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-info" href="{% url 'cargo-abono' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Cargo/Abono">
                                <i class="fa-solid fa-money-bill-trend-up"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-info" href="{% url 'cargo-abono-documento' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Cargo/Abono Documento">
                               <i class="fa-duotone fa-solid fa-file-arrow-up"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-secondary" href="{% url 'subir-estado-cuenta' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Subir Estado de Cuenta">
                               <i class="fa-duotone fa-solid fa-file-arrow-up"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a type="button" class="btn btn-lg btn-outline-info" href="{% url 'estados-cuenta' cuenta.id %}" data-toggle="tooltip" data-placement="top" title="Matriz Estados de Cuenta">
                               <i class="fa-duotone fa-solid fa-file-spreadsheet"></i>
                            </a>
                        <li class="nav-item mx-2">
                            <button type="submit" name="btnRecalcular" class="btn btn-primary">
                                Calcular
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                        {% if saldo_final is not None %}
                            <table class="table table-sm">
                            <tr><th>Saldo trasladado</th><td class="text-end">{{ saldo_inicial|floatformat:2 }}</td></tr>
                            <tr><th>Saldo final</th><td class="text-end"><strong>{{ saldo_final|floatformat:2 }}</strong></td></tr>
                            </table>
                        {% endif %}
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando reporte, por favor espera...<i class="fa-solid fa-mug-hot"></i><i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>

<div class = "card">
    <div class ="table-responsive-sm">
        <table class="table bg-white">
            <thead class="text-black sticky-header" style="background-color: #F5F5F5;">
                <tr>
                    <th class="d-none d-lg-table-cell">Fecha</th>
                    <th>Hora</th>
                    <th>Editar</th>
                    <th>Empresa Cuenta</th>
                    <th scope="col">Empresa/Proveedor</th>
                    <th scope="col">Concepto/Servicio</th>
                    <th>Comentarios</th>
                    <th>Editar</th>
                    <th>Proyecto</th>
                    <th>Subproyecto</th>
                    <th>Distrito</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                    <!--<th>Saldo</th>-->
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos_list %}
                <tr>
                    <td class="d-none d-lg-table-cell">{{ pago.pagado_real }}</td>
                    <td class="d-none" id="form_pagado_hora_{{ pago.id|unlocalize }}">
                        <input type="text" class="form-control" 
                            id="pagado_hora-input_{{ pago.id|unlocalize }}" 
                            value="{{ pago.pagado_hora|time:'H:i:s.u' }}">
                    </td>
                   

                    <!-- Campo visible -->
                    <td class = "" id="pagado_hora_{{ pago.id|unlocalize }}">
                        {{ pago.pagado_hora|time:'H:i:s.u' }}
                    </td>
                    <td>
                       
                        <button type="button" id="save_hora_{{pago.id|unlocalize}}" onclick="aceptar_edicion_hora('{{pago.id|unlocalize}}')" class="btn btn-outline-primary d-none">
                            <i class="fa-regular fa-circle-check"></i>
                        </button>
                        <button id="cancel_edit_hora_{{pago.id|unlocalize}}" type="button" class="btn add-btn d-none" onclick="cancelar_edicion_hora('{{pago.id|unlocalize}}')" style="color:ghostwhite; background-color:#980F0F ;">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                        <a id="modificar_hora_{{pago.id|unlocalize}}" class="btn btn-outline-info" onclick="modificar_hora('{{pago.id|unlocalize}}')">
                            <i class="fa-duotone fa-solid fa-clock"></i>
                        </a>
                    </td>
                    <td>{{pago.cuenta.empresa.nombre}}</td>
                    <td>
                        {% if pago.detalles_comprobante and pago.detalles_comprobante.titular_cuenta_2 != "No disponible" %}{{pago.detalles_comprobante.titular_cuenta_2}}
                        {% elif pago.oc %} {{pago.oc.proveedor.nombre.razon_social}} 
                        {% elif pago.gasto %}  {% if pago.gasto.colaborador %} {{pago.gasto.colaborador.staff.staff.first_name}} {{pago.gasto.colaborador.staff.staff.last_name}} {% else %} {{pago.gasto.staff.staff.staff.first_name}} {{pago.gasto.staff.staff.staff.last_name}}{% endif %}
                        {% elif pago.viatico %} {% if pago.viatico.colaborador %} {{pago.viatico.colaborador.staff.staff.first_name}} {{pago.viatico.colaborador.staff.staff.last_name}}{% else %}{{pago.viatico.staff.staff.first_name}} {{pago.viatico.staff.staff.last_name}} {% endif %}
                        {% elif pago.empresa_beneficiario %} {{pago.empresa_beneficiario}}
                        {% endif %}</td>
                    <td>{% if pago.detalles_comprobante and pago.detalles_comprobante.cuenta_retiro != "No disponible"  %}{{pago.detalles_comprobante.motivo_pago}} 
                        {% elif pago.oc %} OC{{pago.oc.folio}}
                        {% elif pago.gasto %} G{{pago.gasto.folio}}
                        {% elif pago.viatico %} V{{pago.viatico.folio}}
                        {% else %} {{pago.tipo}}
                        {% endif %}
                    </td>
                    <td class="d-none" id="form_comentario_{{pago.id|unlocalize}}">
                        <input type="textarea" class="form-control" id="comentario-input_{{ pago.id|unlocalize }}" value="{{ pago.comentario }}">
                    </td>
                    <td class="" id="comentario_{{pago.id|unlocalize}}">{% if pago.comentario %}Pago: {{pago.comentario}}
                        {% else %}
                        {% if pago.oc and pago.oc.req.orden.comentario %}{{pago.oc.req.orden.comentario}} {% endif %}
                        {% if pago.gasto and pago.gasto.comentario %}{{pago.gasto.comentario}} {% endif %}
                        {% if pago.viatico and pago.viatico.comentario_general %}{{pago.viatico.comentario_general}}{% endif %}
                        {% endif %}

                    </td>
                    <td>
                        <button type="button" id="save_comment_{{pago.id|unlocalize}}" onclick="aceptar_edicion('{{pago.id|unlocalize}}')"    class="btn btn-outline-primary d-none">
                            <i class="fa-regular fa-circle-check"></i>
                        </button>
                        <button id="cancel_edit_{{pago.id|unlocalize}}" type="button" class="btn add-btn d-none" onclick="cancelar_edicion('{{pago.id|unlocalize}}')" style="color:ghostwhite; background-color:#980F0F ;">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                        <a id="modificar_comentario_{{pago.id|unlocalize}}" class="btn btn-outline-info" onclick="modificar_comentario('{{pago.id|unlocalize}}')">
                            <i class="fa-regular fa-comment"></i>
                        </a>
                    </td>
                    <td> {% if pago.oc %}{{pago.oc.req.orden.proyecto.nombre}}{% elif pago.viatico %}{{pago.viatico.proyecto.nombre}}{% endif %}</td>
                    <td> {% if pago.oc %}{{pago.oc.req.orden.subproyecto.nombre}}{% elif pago.viatico %}{{pago.viatico.subproyecto.nombre}}{% endif %}</td>
                    <td> {% if pago.oc %}{{pago.oc.req.orden.distrito.nombre}}
                        {% elif pago.gasto %}{{pago.gasto.distrito.nombre}}
                        {% elif pago.viatico %}{{pago.viatico.subproyecto.nombre}}
                        {% elif pago.distrito %} {{pago.distrito}}
                        {% endif %}</td>
                    
                    <td>{% if pago.tipo.nombre == null or pago.tipo.nombre == "CARGO" or pago.tipo.nombre == "TRANSFERENCIA" %}${{pago.monto|floatformat:2}}{% endif %}</td>
                    <td>{% if pago.tipo.nombre == "ABONO" %}${{pago.monto|floatformat:2}}{% endif %}</td>
                    <!--<td class="saldo">{{pago.saldo|floatformat:2}}</td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pagos_list.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in pagos_list.paginator.page_range %}
                    {% if pagos_list.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > pagos_list.number|add:'-2' and item < pagos_list.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pagos_list.paginator.num_pages > pagos_list.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{pagos_list.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.paginator.num_pages 'page' request.GET.urlencode %}">{{pagos_list.paginator.num_pages}}</a></li>
                {% endif %}

                {% if pagos_list.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function mostrarIndicadorCarga() {
    var btn = document.getElementById('btnReporte')
    document.getElementById('loadingIndicator').style.display = 'block';
    
    verificarDescargaIniciada();
    btn.classList.add('d-none')
}

function verificarDescargaIniciada(){
    const checkDescarga = setInterval(() => {
        const descargaIniciada = getCookie('descarga_iniciada');
        if (descargaIniciada === 'true') {
            // Ocultar el indicador de carga
            document.getElementById('loadingIndicator').style.display = 'none';
            
            // Opcional: Borrar la cookie si es necesario
            document.cookie = 'descarga_iniciada=; Max-Age=-99999999;';
            
            clearInterval(checkDescarga);

        }
    }, 1000); // Revisar cada segundo
}


function modificar_comentario(pagoId){
    var form_comentario = document.getElementById("form_comentario_"+pagoId);
    var comentario = document.getElementById("comentario_"+pagoId);
    var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_comentario = document.getElementById("modificar_comentario_"+pagoId);
    var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_"+pagoId);
    var save_comment = document.getElementById("save_comment_"+pagoId);
    
    form_comentario.classList.remove("d-none");
    comentario.classList.add("d-none");
    modificar_comentario.classList.add("d-none");
    cancel_edit.classList.remove("d-none");
    save_comment.classList.remove("d-none");
};

function modificar_hora(pagoId){
    var form_hora = document.getElementById("form_pagado_hora_"+pagoId);
    var hora = document.getElementById("pagado_hora_"+pagoId);
    //console.log(hora)
    //var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_hora = document.getElementById("modificar_hora_"+pagoId);
    //var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_hora_"+pagoId);
    var save_hora = document.getElementById("save_hora_"+pagoId);
    
    form_hora.classList.remove("d-none");
    hora.classList.add("d-none");
    modificar_hora.classList.add("d-none");
    cancel_edit.classList.remove("d-none");
    save_hora.classList.remove("d-none");
};

function cancelar_edicion(pagoId){
    var form_comentario = document.getElementById("form_comentario_"+pagoId);
    var comentario = document.getElementById("comentario_"+pagoId);
    var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_comentario = document.getElementById("modificar_comentario_"+pagoId);
    var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_"+pagoId);
    var save_comment = document.getElementById("save_comment_"+pagoId);
    form_comentario.classList.add("d-none");
    comentario.classList.remove("d-none");
    modificar_comentario.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_comment.classList.add("d-none");
};

function cancelar_edicion_hora(pagoId){
    var form_hora = document.getElementById("form_pagado_hora_"+pagoId);
    var hora = document.getElementById("pagado_hora_"+pagoId);
    //var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_hora = document.getElementById("modificar_hora_"+pagoId);
    //var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_hora_"+pagoId);
    var save_hora = document.getElementById("save_hora_"+pagoId);
    form_hora.classList.add("d-none");
    hora.classList.remove("d-none");
    modificar_hora.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_hora.classList.add("d-none");
};

function aceptar_edicion(pagoId){
    var form_tag = document.getElementById("form_comentario_"+pagoId);
    var comentario = document.getElementById("comentario_"+pagoId);
    var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_comentario = document.getElementById("modificar_comentario_"+pagoId);
    var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_"+pagoId);
    var save_comment = document.getElementById("save_comment_"+pagoId);
    var pk = pagoId
    var inputElement = document.getElementById('comentario-input_' + pagoId).value;
    //var form_comentario = document.getElementById('id_form_comentario-comentario').value
    
    console.log(inputElement)
    ActualizarComentario(pk,inputElement,"comentario")
    form_tag.classList.add("d-none");
    comentario.classList.remove("d-none");
    //edit_quantity.classList.remove("d-none");
    //delete_row.classList.remove("d-none");
    modificar_comentario.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_comment.classList.add("d-none");
};

function aceptar_edicion_hora(pagoId){
    var form_tag = document.getElementById("form_pagado_hora_"+pagoId);
    var comentario = document.getElementById("pagado_hora_"+pagoId);
    //var edit_quantity = document.getElementById("edit_quantity_"+pagoId);
    var modificar_hora = document.getElementById("modificar_hora_"+pagoId);
    //var delete_row = document.getElementById("delete_row_"+pagoId);
    var cancel_edit = document.getElementById("cancel_edit_hora_"+pagoId);
    var save_hora = document.getElementById("save_hora_"+pagoId);
    var pk = pagoId
    var inputElement = document.getElementById('pagado_hora-input_' + pagoId).value;
    //var form_comentario = document.getElementById('id_form_comentario-comentario').value
    
    console.log(inputElement)
    ActualizarComentario(pk,inputElement,"hora")
    form_tag.classList.add("d-none");
    comentario.classList.remove("d-none");
    //edit_quantity.classList.remove("d-none");
    //delete_row.classList.remove("d-none");
    modificar_hora.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_hora.classList.add("d-none");
};

function ActualizarComentario(pago_id,dato, tipo){
    console.log('User is logged in, sending data...' )
    var url = '/tesoreria/update_comentario_control/'
    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'pago_id':pago_id, 'dato':dato, 'tipo':tipo})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        if (data.tipo == "comentario"){
            document.getElementById('comentario_'+ pago_id).innerHTML = data.dato;
        } else if (data.tipo == "hora"){
            console.log('Actualizando hora en la interfaz')
            let horaFormateada = data.dato ? data.dato.slice(0, 5) : '';
            document.getElementById('pagado_hora_'+ pago_id).innerHTML = horaFormateada;
        }
    })
}

</script>
{% endblock %}
</body>
</html>