{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
{% load l10n %}

<html>
<head>
{% block title %}Matriz Pagos{% endblock %}
</head>
<body>

{% block content %}
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class = "col" id="response-div">
        <div class="card">
            <div class="card-header">
            <h5>Filtro de Pagos</h5>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <form method="GET">
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder= Folio"}}
                                <label style="color: #121212;" for="id_id">Folio</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                                <label style="color: #121212;" for="id_id">Proyecto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.tipo|add_class:"form-control"|append_attr:"placeholder= Tipo"}}
                                <label style="color: #121212;" for="id_id">Tipo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{ myfilter.form.tiene_facturas|add_class:"form-control"|append_attr:"placeholder= Tiene Facturas"}}
                                <label style="color: #121212;" for="id_id">Tiene Facturas</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.facturas_completas|add_class:"form-control"|append_attr:"placeholder= Facturas Completas"}}
                                <label style="color: #121212;" for="id_id">Facturas Completas</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.tesorero|add_class:"form-control"|append_attr:"placeholder= Tesorero"}}
                                <label style="color: #121212;" for="id_id">Tesorero</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor/Colaborador"}}
                                <label style="color: #121212;" for="id_id">Proveedor/Colaborador</label>
                            </div>
                        </div>
                    </div>
                    
                    <div id="serie" class="col-lg-2 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.start_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.end_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block btn-lg mt-1" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
</div>

<div class = "row my-4">
<div class = "col-sm-12 col-lg-2">
    <div class="card">
        <form id = "reporteForm" method=POST>
        {% csrf_token %}
        <div class="card-header">
            <h6>Reportes</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills">
                    <li class="nav-item mx-2">
                        <button name="btnReporte" type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                            <i class="fa-solid fa-file-excel fa-2xl"></i>
                        </button>
                    </li>
                    <!--<li class="nav-item mx-2">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa-solid fa-file-pdf fa-2xl"></i>
                        </button>
                    </li>-->
                </ul>
        </form>
        </div>
    </div>
</div>
<div class = "col-lg-8">
    <div class = "card">
    <form method=POST onsubmit="mostrarIndicadorCarga()">
        {% csrf_token %}
        <div class="card-header">
            <h6>Facturas | Descarga</h6>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control">
                        <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        <input type="date" id="fecha_fin" name="fecha_fin" class="form-control">
                        <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        <input id="folio" name="folio" class="form-control">
                        <label style="color: #121212;" for="id_subproyecto">Folio:</label>
                    </div>
                </div>
            </div>
            {% if usuario.distritos.nombre == "MATRIZ" and usuario.tipo.nombre != "Tesoreria_Documentos"  %}
            <div class="col-lg-3 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        <select id="distrito" name="distrito" class="form-select">
                            <option value="">Todos</option>
                            {% for distrito in distritos %}
                                <option value="{{ distrito.id }}">{{ distrito.nombre }}</option>
                            {% endfor %}
                        </select>
                        <label style="color: #121212;" for="id_id">Distrito</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                    <div class="form-floating form-floating-group flex-grow-1">   
                        <select id="tesorero" name="tesorero" class="form-select">
                            <option value="">Todos</option>
                            {% for tesorero in tesoreros %}
                                <option value="{{ tesorero.id }}">{{ tesorero.staff.staff.first_name }} {{tesorero.staff.staff.last_name}}</option>
                            {% endfor %}
                        </select>
                        <label style="color: #121212;" for="id_id">Tesorero</label>
                    </div>
                </div>
            </div>
            {% endif %}
                <div class="col-lg-4 col-sm-12">
               
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">       
                            <select id="tipo_documento" name="tipo_documento" class="form-select">
                                <option value="">Todos</option>
                                <option value="gastos">Gastos</option>
                                <option value="compras">Compras</option>
                                <option value="viaticos">Viáticos</option>
                            </select>
                            <label for="tipo_documento">Tipo de Documento:</label>
                        </div>
                    </div>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="validacion" name="validacion">
                    <img src="{% static 'images/SAT.jpg' %}" alt="Validar SAT"
                    style="width: 40px; height: auto; vertical-align: middle; margin-right: 8px;">
                    <label class="form-check-label" for="validacion">Validar en SAT</label>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 m-3">
                <button type="submit" name="btnDescargarFacturas" class="btn btn-primary "><i class="fa-solid fa-circle-chevron-down"></i></button>
                 <button name="btnReporteXML" type="submit" class="btn btn-outline-success" value='Reporte Excel de XML' title ="Generar reporte de XML">
                    <i class="fa-solid fa-file-excel fa-2xl"></i>
                </button>
            </div>
            </div>
        </div>        
    </form>
    </div>
</div>
</div>
        
    
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando reporte, por favor espera...&nbsp;<i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>

<div class = "card">
    <form id="mass_payment_form" method="post" action="{% url 'matriz-pagos' %}">
       
        <ul class="nav nav-pills">
            <li class="nav-item mx-2">
                <div col-lg-2>
                    <div class="alert alert-primary" role="alert">Total OC seleccionadas: <span id="oc_count">0</span></div>
                </div>
            </li>
            <li class="nav-item mx-2">
                <div col-lg-2>
                    <div class="alert alert-primary" role="alert">Suma total: <span id="oc_sum">0.00</span></div>
                </div>
            </li>
                <input type="submit" value="Control de Documentos" name="enviar_a_control" id="enviar_a_control" class="btn btn-primary mx-2">
                <input type="submit" value="Validación" name="validacion" id="validacion" class="btn btn-primary mx-2">
                <button type="submit" class="btn btn-outline-primary me-2" title="Imprimir seleccionados" name="btnImprimir" id="btnImprimir">  
                    <i class="fa-solid fa-print fa-xl"></i>
                </button>
        </ul>
       
   
    {% csrf_token %}
    <div class ="table-responsive-sm">
        <table class="table bg-white">
            <thead class="text-black sticky-header" style="background-color: #F5F5F5;">
                <tr>
                    <th class="d-none d-lg-table-cell">Id</th>
                    <th scope="col">Compra/Gasto</th>
                    <th class="d-none d-lg-table-cell">Solicitado</th>
                    <th scope="col">Proyecto</th>
                    <th class="d-none d-lg-table-cell">Subproyecto</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Proveedor/Colaborador</th>
                   
                    <th scope="col">Facturas Completas</th>
                    <th>Facturas</th>
                    <th class="d-none d-md-table-cell">Status Entrada</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Fecha</th>
                    
                    <th>Validar/Imprimir</th>
                    <th scope="col">Acción</th>
                    <th>Control de Documentos</th>
                    <th>Fecha Control</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos_list %}
                <tr>
                    <th class="d-none d-lg-table-cell">{{pago.id}}</th>
                    {% if pago.oc %}
                        <td>{{pago.oc.folio}}</td>
                        <td class="d-none d-lg-table-cell">{{pago.oc.req.orden.staff.staff.staff.first_name}} {{pago.oc.req.orden.staff.staff.staff.last_name}}</td>
                        <td>{{pago.oc.req.orden.proyecto.nombre}}</td>
                        <td  class="d-none d-lg-table-cell">{{pago.oc.req.orden.subproyecto.nombre}}</td>
                        <td>{{pago.oc.oc_autorizada_por2.staff.staff.first_name}} {{pago.oc.oc_autorizada_por2.staff.staff.last_name}}</td>
                        <td>{{pago.oc.proveedor}}</td>
                       
                        {% if pago.oc.facturas_completas == True %}
                            <td>Completas</td>
                        {% else %}
                            <td>Incompletas</td>
                        {% endif %}
                        
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="nav-item mx-1">
                                        {% if pago.estado_facturas == "sin_facturas" %}
                                            <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-nomodal' pago.oc.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas">
                                                <i class="fa-solid fa-file-circle-xmark"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "todas_autorizadas" %}
                                            <a type="button" class="btn btn-outline-info" href="{% url 'matriz-facturas-nomodal' pago.oc.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Todas las Facturas validadas">
                                                <i class="fa-solid fa-file-circle-check"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "pendientes" %}
                                            <a type="button" class="btn btn-outline-warning" href="{% url 'matriz-facturas-nomodal' pago.oc.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas no validadas">
                                                <i class="fa-solid fa-file-circle-exclamation"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                           
                             <td class="d-none d-lg-table-cell">
                                {% if pago.oc.entrada_completa %}<span class="badge bg-primary">Entregada</span>
                                    {% for entrada in pago.oc.vale_entrada.all %}
                                        {% if entrada.entrada_date %}
                                            {{ entrada.entrada_date|default_if_none:''|date:'d/m/Y' }}
                                        {% endif %}
                                    {% endfor %}
                                {% elif pago.oc.entrada_parcial > 0 %}<span class="badge bg-success">Avance: {{pago.oc.entrada_parcial}}%</span>
                                {% else %}<span class="badge bg-warning">No entregado aún</span> {% endif %}
                            </td>
                           
                    {% endif %}
                   
                    {% if pago.gasto %}
                        <td>G{{pago.gasto.folio}}</td>
                        <td class="d-none d-lg-table-cell">{{pago.gasto.staff.staff.staff.first_name}} {{pago.gasto.staff.staff.staff.last_name}}</td>
                        <td>{{pago.proyectos}}</td>
                        <td  class="d-none d-lg-table-cell">{{pago.subproyectos}}</td>
                        <td>{{pago.gasto.superintendente.staff.staff.first_name}} {{pago.gasto.superintendente.staff.staff.last_name}}</td>
                        {% if pago.gasto.colaborador %}
                            <td>{{pago.gasto.colaborador.staff.staff.first_name}} {{pago.gasto.colaborador.staff.staff.last_name}}</td>
                        {% else %}
                            <td>{{pago.gasto.staff.staff.staff.first_name}} {{pago.gasto.staff.staff.staff.last_name}}</td>
                        {% endif %}
                        {% if pago.gasto.facturas_completas == True %}
                            <td>Completas</td>
                        {% else %}
                            <td>Incompletas</td>
                        {% endif %}
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="nav-item mx-1">
                                        {% if pago.estado_facturas == "sin_facturas" %}
                                            <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-gasto' pago.gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas">
                                                <i class="fa-solid fa-file-circle-xmark"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "todas_autorizadas" %}
                                            <a type="button" class="btn btn-outline-info" href="{% url 'matriz-facturas-gasto' pago.gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Todas las Facturas Autorizadas">
                                                <i class="fa-solid fa-file-circle-check"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "pendientes" %}
                                            <a type="button" class="btn btn-outline-warning" href="{% url 'matriz-facturas-gasto' pago.gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas Pendientes">
                                                <i class="fa-solid fa-file-circle-exclamation"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                            <td></td>
                    {% endif %}

                    {% if pago.viatico %}
                        <td>V{{pago.viatico.folio}}</td>
                        <td class="d-none d-lg-table-cell">{{pago.viatico.staff.staff.staff.first_name}} {{pago.viatico.staff.staff.staff.last_name}}</td>
                        <td>{{pago.viatico.proyecto.nombre}}</td>
                        <td  class="d-none d-lg-table-cell">{{pago.viatico.subproyecto.nombre}}</td>
                        <td>{{pago.viatico.superintendente.staff.staff.first_name}} {{pago.viatico.superintendente.staff.staff.last_name}}</td>
                        {% if pago.viatico.colaborador %}
                            <td>{{pago.viatico.colaborador.staff.staff.first_name}} {{pago.viatico.colaborador.staff.staff.last_name}}</td>
                        {% else %}
                            <td>{{pago.viatico.staff.staff.staff.first_name}} {{pago.viatico.staff.staff.staff.last_name}}</td>
                        {% endif %}
                        {% if pago.viatico.facturas_completas == True %}
                            <td>Completas</td>
                        {% else %}
                            <td>Incompletas</td>
                        {% endif %}
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="nav-item mx-1">
                                        {% if pago.estado_facturas == "sin_facturas" %}
                                            <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-viaticos' pago.viatico.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas">
                                                <i class="fa-solid fa-file-circle-xmark"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "todas_autorizadas" %}
                                            <a type="button" class="btn btn-outline-info" href="{% url 'matriz-facturas-viaticos' pago.viatico.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Todas las Facturas Autorizadas">
                                                <i class="fa-solid fa-file-circle-check"></i>
                                            </a>
                                        {% elif pago.estado_facturas == "pendientes" %}
                                            <a type="button" class="btn btn-outline-warning" href="{% url 'matriz-facturas-viaticos' pago.viatico.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas Pendientes">
                                                <i class="fa-solid fa-file-circle-exclamation"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                            <td></td>
                    {% endif %}
                    <td>{{pago.monto|floatformat:2}}</td>
                    <td>{{pago.pagado_date|date:"d/m/Y"}}</td>
                    <td>
                        <input  style="transform: scale(2); margin: 5px;" class="validacion_checkbox form-check-input" data-id="{{ pago.id|unlocalize }}" data-monto="{{pago.monto|unlocalize}}" type="checkbox" name="pago_ids" value="{{ pago.id|unlocalize }}">             
                    </td>
                    <td>
                        <ul class="nav nav-pills">
                            {% if pago.oc %}
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-info" href="{% url 'oc-pdf' pago.oc.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="OC">
                                <i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            {% endif %}
                            {% if pago.gasto %}
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-info" href="{% url 'descargar-pdf-gasto' pago.gasto.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Comprobante de gasto">
                                    <i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            {% endif %}
                            {% if pago.viatico %}
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-info" href="{% url 'render-pdf-viatico' pago.viatico.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Comprobante de viático">
                                    <i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            {% endif %}

                            {% if pago.comprobante_pago %}

                            <li class="nav-item mx-1">
                                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{ pago.id|unlocalize }}" title="Ver comprobante de pago">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <a type="button" class="btn btn-outline-info" href="{{pago.comprobante_pago.url}}" download data-bs-toggle="tooltip" data-bs-placement="top" title="Comprobante de pago"><i class="fa-solid fa-file-invoice-dollar"></i></a>
                            </li>
                            <!-- Modal con visor de PDF -->
                            <div class="modal fade" id="pdfModal{{ pago.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ pago.id|unlocalize }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pdfModalLabel{{ pago.id|unlocalize }}">Comprobante de Pago</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="{{ pago.comprobante_pago.url }}#zoom=80" width="100%" height="750px"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if pago.oc %}
                            {% endif %}
                            <!--<li class="nav-item mx-1">
                                {% if pago.oc %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-nomodal' pago.oc.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas">
                                <i class="fa-solid fa-file-pdf"></i></a>
                                {% endif %}
                                {% if pago.gasto %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-gasto' pago.gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas">
                                <i class="fa-solid fa-file-pdf"></i>
                                </a>
                                {% endif %}
                                {% if pago.viatico %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-viaticos' pago.viatico.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facturas">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </a>
                                {% endif %}
                            </li>-->
                        </ul>
                    </td>
                    <td>
                        {% if pago.total_facturas > 0 and pago.total_facturas == pago.autorizadas %}
                            {% if pago.oc %}
                            <input  style="transform: scale(2); margin: 5px;" class="payment_checkbox form-check-input" data-id="{{ pago.id|unlocalize }}" data-monto="{{pago.monto|unlocalize}}"  type="checkbox" name="compra_ids" value="{{ pago.id|unlocalize }}">
                            {% elif pago.gasto %}
                            <input  style="transform: scale(2); margin: 5px;" class="payment_checkbox form-check-input" data-id="{{ pago.id|unlocalize }}" data-monto="{{pago.monto|unlocalize}}" type="checkbox" name="compra_ids" value="{{ pago.id|unlocalize }}">
                            {% elif pago.viatico %}
                            <input  style="transform: scale(2); margin: 5px;" class="payment_checkbox form-check-input" data-id="{{ pago.id|unlocalize }}" data-monto="{{pago.monto|unlocalize}}" type="checkbox" name="compra_ids" value="{{ pago.id|unlocalize }}">
                            {% endif %}
                        {% endif %}
                    </td>
                   <td>
                        {% if pago.fecha_control_documentos %}
                            {{ pago.fecha_control_documentos|date:"d/m/Y" }}
                        {% else %}
                            No enviado a control
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pagos_list.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in pagos_list.paginator.page_range %}
                    {% if pagos_list.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > pagos_list.number|add:'-2' and item < pagos_list.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pagos_list.paginator.num_pages > pagos_list.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{pagos_list.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.paginator.num_pages 'page' request.GET.urlencode %}">{{pagos_list.paginator.num_pages}}</a></li>
                {% endif %}

                {% if pagos_list.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url pagos_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </form>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>

<div class="modal fade" id="customAlert" tabindex="-1" aria-labelledby="customAlertLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo de SAVIA" style="height: 40px; margin-right: 10px;" class="rounded-circle">            
          <h5 class="modal-title" id="customAlertLabel">SAVIA 2.0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Por favor, seleccione tanto la fecha de inicio como la fecha final para generar el reporte.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
/*var modal = document.getElementById('dialog')
modal.on('hidden.bs.modal', function () {
    location.reload();
});*/

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function mostrarIndicadorCarga() {
    var btn = document.getElementById('btnExcel')
    document.getElementById('loadingIndicator').style.display = 'block';
    
    verificarDescargaIniciada();
    btn.classList.add('d-none')
}

function verificarDescargaIniciada(){
    const checkDescarga = setInterval(() => {
        const descargaIniciada = getCookie('descarga_iniciada');
        if (descargaIniciada === 'true') {
            // Ocultar el indicador de carga
            document.getElementById('loadingIndicator').style.display = 'none';
            
            // Opcional: Borrar la cookie si es necesario
            document.cookie = 'descarga_iniciada=; Max-Age=-99999999;';
            
            clearInterval(checkDescarga);

        }
    }, 1000); // Revisar cada segundo
}

document.addEventListener('DOMContentLoaded', function() {
    var reportForm = document.getElementById("reporteForm");
    var startDateField = document.getElementById('id_start_date');
    var endDateField = document.getElementById('id_end_date');
    
    const checkboxes = document.querySelectorAll('.payment_checkbox');
    const checkboxes_validation = document.querySelectorAll('.validacion_checkbox');
    const ocCountElement = document.getElementById('oc_count');  // Ajusta el id si es necesario
    const ocSumElement = document.getElementById('oc_sum');
    const layoutPagosButton = document.getElementById('enviar_a_pago_button');
    const ValidacionButton = document.getElementById('validacion');
    const ImprimirButton = document.getElementById('btnImprimir');
    const form = document.getElementById('mass_payment_form');

    // Inicializar o recuperar la lista de IDs seleccionados como strings
    let selectedIds = JSON.parse(localStorage.getItem('selectedPayments')) || [];
    let selectedIds_validation = JSON.parse(localStorage.getItem('selectedPaymentsValidation')) || [];
    selectedIds = selectedIds.map(id => id.toString().trim());
    selectedIds_validation = selectedIds_validation.map(id => id.toString().trim());

    // Al cargar la página, marcar los checkboxes ya guardados
    checkboxes.forEach(checkbox => {
        const id = checkbox.getAttribute('data-id').toString().trim();
        if (selectedIds.includes(id)) {
            checkbox.checked = true;
        }
    });
    checkboxes_validation.forEach(checkbox => {
        const id = checkbox.getAttribute('data-id').toString().trim();
        if (selectedIds_validation.includes(id)) {
            checkbox.checked = true;
        }
    });
    // Actualizar conteo y suma al cargar
    updateCountAndSum();

    

    // Manejar selección/deselección
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            const id = checkbox.getAttribute('data-id').toString().trim();

            if (checkbox.checked) {
                // Añadir el ID si no existe
                if (!selectedIds.includes(id)) {
                    selectedIds.push(id);
                }
            } else {
                // Quitar el ID si ya no está seleccionado
                selectedIds = selectedIds.filter(pid => pid !== id);
            }

            // Guardar en localStorage
            localStorage.setItem('selectedPayments', JSON.stringify(selectedIds));

            // Actualizar contador
            updateCount();
            updateCountAndSum();
        });
    });

     function updateCountAndSum() {
        let sum = 0;

        checkboxes.forEach(checkbox => {
            const id = checkbox.getAttribute('data-id').toString().trim();
            const monto = parseFloat(checkbox.getAttribute('data-monto')) || 0;

            if (checkbox.checked) {
                sum += monto;
            }
        });

        ocCountElement.textContent = selectedIds.length;
        ocSumElement.textContent = sum.toFixed(2);
    }

    // Actualizar el contador en el template
    function updateCount() {
        ocCountElement.textContent = selectedIds.length;
    }

    // Al enviar el formulario
    layoutPagosButton.addEventListener('click', function(event) {
        // Evitar envío inmediato
        event.preventDefault();

        // Añadir inputs ocultos al form con los IDs seleccionados
        selectedIds.forEach(id => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'compra_ids';  // Django espera una lista con este nombre
            input.value = id;
            form.appendChild(input);
        });

        // Limpiar el localStorage para el siguiente ciclo
        localStorage.removeItem('selectedPayments');

        // Enviar el formulario
        form.submit();
    });
    
     // Al enviar el formulario
    ValidacionButton.addEventListener('click', function(event) {
        // Evitar envío inmediato
        event.preventDefault();

        // Añadir inputs ocultos al form con los IDs seleccionados
        selectedIds_validation.forEach(id => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'pagos_ids';  // Django espera una lista con este nombre
            input.value = id;
            form.appendChild(input);
        });

        // Limpiar el localStorage para el siguiente ciclo
        //localStorage.removeItem('selectedPayments');

        // Enviar el formulario
        form.submit();
    });

     // Al enviar el formulario
    ImprimirButton.addEventListener('click', function(event) {
        // Evitar envío inmediato
        event.preventDefault();

        // Añadir inputs ocultos al form con los IDs seleccionados
        selectedIds_validation.forEach(id => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'pagos_ids';  // Django espera una lista con este nombre
            input.value = id;
            form.appendChild(input);
        });

        // Abrir en nueva pestaña
        form.setAttribute('target', '_blank');


        // Enviar el formulario
        form.submit();
    });



    
    reportForm.addEventListener('submit', function(event) {
        var startDate = startDateField.value;
        var endDate = endDateField.value;

        if (!startDate || !endDate) {
            event.preventDefault();  // Evita que el formulario se envíe
            // Mostrar el modal personalizado
            var customAlertModal = new bootstrap.Modal(document.getElementById('customAlert'), {});
            customAlertModal.show();
        } else {
            // Si las fechas están presentes, muestra el indicador de carga
            mostrarIndicadorCarga();
        }
    });
});


</script>
{% endblock %}
</body>
</html>