{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load l10n %}
{% load tt_extras %}
<html>
<head>

{% block title %}
    {% if usuario_view %}
        Mis Gastos
    {% else %}
        Matriz Gastos
    {% endif %}   
{% endblock %}

</head>
<body>
{% block content %}
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Filtro de Gastos</h5>
                </div>
                <div class="card-body">
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.folio|add_class:"form-control"|append_attr:"placeholder=Folio"}}
                                <label for="id_lugar_partida">Folio</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.start_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.end_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-12">
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.solicitado_por|add_class:"form-control"|append_attr:"placeholder=Solicitó"}}
                                <label for="id_lugar_partida">Solicitó</label>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.tipo|add_class:"form-control"|append_attr:"placeholder=Tipo"}}
                                <label for="id_lugar_partida">Tipo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 mt-3">
                        <button class="btn btn-outline-success btn-block btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                </form>
                <hr>
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" name="btnExcel"><i class="fa-solid fa-file-excel fa-2xl"></i></button>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>-->
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <div class ="table-responsive-sm">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Gasto</th>
                    <th class="d-none d-lg-table-cell">Solicitado</th>
                    <th>Comentario</th>
                    <th>Tipo</th>
                    <th scope="col">Autorizado</th>
                    <th class="d-none d-lg-table-cell">Colaborador</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Autorización Gerencia</th>
                    
                    <th>Detalles</th>
                    <th scope="col">Facturas</th>
                    {% if usuario_view %}
                    <th>Vale Rosa</th>
                    <th>Vale Azul</th>
                    {% endif %}
                    <th>Registro</th>
                    {% if usuario_view %}
                    <th>Pago</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos_list %}
                <tr>
                    <th>{{gasto.folio}}</th>
                    <td class="d-none d-lg-table-cell">
                        {{gasto.staff.staff.staff.first_name}} {{gasto.staff.staff.staff.last_name}}
                    </td>
                    <td>
                        {{gasto.tipo.tipo}}
                    </td>
                    <td>{% if gasto.comentario %}
                        {{gasto.comentario}}
                        {% else %}
                            {% for articulo in gasto.articulos.all %}
                                {{ articulo.comentario }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                            No hay comentarios disponibles
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% if gasto.get_validado %}
                    <td>{{gasto.superintendente.staff.staff.first_name}} {{gasto.superintendente.staff.staff.last_name}}
                        {% if gasto.autorizar %} 
                        <span class="badge bg-primary">Autorizado</span> 
                        {% elif gasto.autorizar == False %} 
                        <span class="badge bg-danger">Cancelado</span>
                        {% else %} 
                        <span class="badge bg-warning">No Autorizado Aún</span> 
                        {% endif %}
                    </td>
                    {% else %}
                    <td><span class="badge bg-warning">Llevar Material a Almacén</span></td>
                    {% endif %}
                    {% if gasto.tipo.tipo == "NOMINA" %}
                     <td class="d-none d-lg-table-cell"> <span class="badge bg-primary">NOMINA</span></td>
                    {% elif gasto.tipo.tipo == "IMPUESTOS" %}
                    <td class="d-none d-lg-table-cell"> <span class="badge bg-primary"> {{gasto.proveedor.nombre.razon_social}}</span></td>
                    {% elif gasto.colaborador %}
                    <td class="d-none d-lg-table-cell">{{gasto.colaborador.staff.staff.first_name}} {{gasto.colaborador.staff.staff.last_name}}</td>
                    {% else %}
                    <td class="d-none d-lg-table-cell">{{gasto.staff.staff.staff.first_name}} {{gasto.staff.staff.staff.last_name}}</td>
                    {% endif %}
                    <td>${{gasto.get_total_solicitud}}</td>
                    <td>Gerente 
                        {% if gasto.autorizar2 %} 
                        <span class="badge bg-primary">Autorizado</span> 
                        {% elif gasto.autorizar2 == False %} 
                        <span class="badge bg-danger">Cancelado</span>
                        {% else %} 
                        <span class="badge bg-warning">No Autorizado Aún</span> 
                        {% endif %} 
                    </td> 
                    <td>
                        <a id="myBtn" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'detalle-gastos' gasto.id %}">
                            Conceptos
                        </a>
                    </td>
                    <td>
                        {% if gasto.facturas.exists %}
                            <a type="button" class="btn btn-outline-info" href="{% url 'matriz-facturas-gasto' gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Tiene Facturas"><i class="fa-solid fa-file-circle-check"></i></a>
                        {% else %}
                            <a type="button" class="btn btn-outline-danger" href="{% url 'matriz-facturas-gasto' gasto.id %}?next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="No tiene Facturas"><i class="fa-solid fa-file-circle-xmark"></i></a>
                        {% endif %}
                    </td>
                     {% if usuario_view %}
                    <td>
                       
                            {% if gasto.tipo.tipo != "APOYOS A EMPLEADOS" and gasto.creado_reciente %}
                            <a type="button" class="btn" style="background-color: #f8d7da; border: 1px solid #721c24; color: #721c24;" href="{% url 'agregar-vale-rosa' gasto.id %}?tipo=gasto&color=rosa&next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Vale Rosa">
                                <i class="fa-regular fa-file-import"></i>
                            </a> 
                            {% endif %}
                       
                    </td>
                     <td>
                       
                            {% if gasto.tipo.tipo != "APOYOS A EMPLEADOS" and gasto.creado_reciente %}
                            <a type="button" class="btn" style="background-color: #d1ecf1; border: 1px solid #0c5460; color: #0c5460;" href="{% url 'agregar-vale-rosa' gasto.id %}?tipo=gasto&&color=azul&next={{ request.path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Vale Azul">
                                <i class="fa-regular fa-file-import"></i>
                            </a> 
                            {% endif %}
                       
                    </td>
                     {% endif %}
                    <td>
                        <a type="button" class="btn btn-outline-info" href="{% url 'descargar-pdf-gasto' gasto.id%}"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>  
                    </td>
                    {% if usuario_view %}
                    <td>
                 
                        {% for pago in gasto.pagosg.all %}
                            {% if pago.comprobante_pago %}
                            <ul class="nav nav-pills">
                                <!-- Botón para abrir el visor de PDF -->
                                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{ pago.id|unlocalize }}" title="Ver comprobante de pago">
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                </button>
                            </ul>
                            <!-- Modal con visor de PDF -->
                            <div class="modal fade" id="pdfModal{{ pago.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ pago.id|unlocalize }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pdfModalLabel{{ pago.id|unlocalize }}">Comprobante de Pago</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="{{ pago.comprobante_pago.url }}#zoom=80" width="100%" height="750px"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                      
                        </td>
                        {% endif %}
                    {% endfor %}
             
                
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-4">
     
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if gastos_list.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url gastos_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in gastos_list.paginator.page_range %}
                    {% if gastos_list.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > gastos_list.number|add:'-2' and item < gastos_list.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if gastos_list.paginator.num_pages > gastos_list.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{gastos_list.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url gastos_list.paginator.num_pages 'page' request.GET.urlencode %}">{{gastos_list.paginator.num_pages}}</a></li>
                {% endif %}

                {% if gastos_list.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url gastos_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url gastos_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document">

    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
//var modal = document.getElementById('dialog')
//modal.on('hidden.bs.modal', function () {
//    location.reload();
//});

</script>
{% endblock %}
</body>
</html>