{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load tt_extras %}
{% load l10n %}
<html>
<head>
{% block title %}Proveedores{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row">
    <div class="col-lg-6">
        <div class = "card mt-2 bg-white">
     
            <div class="card-header">
                <h5>Proveedor: {{proveedor.razon_social}}</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills">
                    <li class="nav-item mx-2">
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'dashboard-index' %}">
                            <i class="fa-solid fa-backward"></i>
                        </a>
                        {% if usuario.tipo.proveedores %}
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'add-proveedor-direccion' proveedor.id %}">
                            <i class="fa-solid fa-plus"> Agregar Direccion</i>
                        </a>
                        {% endif %}
                    </li>
                </ul>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre del Documento</th>
                            <th>Documento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Credencial Elector/Acta Constitutiva</td>
                            <td>
                            {% if documentos_count.credencial_acta_constitutiva == 0 %}
                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-acta-credencial' proveedor.id %}">
                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                            </a>
                            {% else %}
                                    {% for documento in documentos %}
                                        {% if documento.tipo_documento == "credencial_acta_constitutiva" %}
                                            {% if documento.validada %}
                                            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfActa{{documento.id|unlocalize }}" title="Ver Credencial/Acta">
                                                <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfActa{{documento.id|unlocalize }}" title="Ver Credencial/Acta">
                                                <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                            </button>
                                            {% endif %}
                                            
                                            <!-- Modal con visor de PDF -->
                                            <div class="modal fade" id="pdfActa{{documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfActaLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="pdfActaLabel{{documento.id|unlocalize }}">Credencial/Acta Constitutiva</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Si hay al menos un documento sin validar, mostrar botón para cambiar -->
                                    {% if documentos_count.credencial_acta_constitutiva > documentos_validados_count.credencial_acta_contitutiva %}
                                        <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar Credencial" hx-target="#document" hx-get="{% url 'edit-acta-credencial' proveedor.id %}">
                                            <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                            {% endif %}
                            </td>
                            <td class="" id="comentario_1_{{proveedor.id|unlocalize}}" tipo = "acta">{% if proveedor.comentario_acta %} {{proveedor.comentario_acta}} {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Constancia de Situación Fiscal</td>
                            <td>  
                                {% if documentos_count.csf == 0 %}
                                    <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-csf' proveedor.id %}">
                                        <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                    </a>
                                    {% else %}
                                        {% for documento in documentos %}
                                            {% if documento.tipo_documento == "csf" %}
                                                {% if documento.validada %}
                                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{documento.id|unlocalize }}" title="Constancia de Situación Fiscal| Validada">
                                                        <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfModal{{documento.id|unlocalize }}" title="Constancia de Situación Fisca| Pendiente Validación">
                                                        <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                    </button>
                                                {% endif %}
                                            <!-- Modal con visor de PDF -->
                                            <div class="modal fade" id="pdfModal{{documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="pdfModalLabel{{documento.id|unlocalize }}">Constancia de Situación Fiscal</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if documentos_count.csf > documentos_validados_count.csf %}
                                        <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-csf' proveedor.id %}">
                                            <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                        </a> 
                                        {% endif %}
                                {% endif %}
                            </td>
                            <td class="" id="comentario_2_{{proveedor.id|unlocalize}}" tipo = "csf">{% if proveedor.comentario_csf %} {{proveedor.comentario_csf}} {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Comprobante de Domicilio</td>
                            <td>
                               
                                 
                                    {% if documentos_count.comprobante_domicilio == 0 %}  
                                        <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-comprobante-domicilio' proveedor.id %}">
                                            <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                        </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "comprobante_domicilio" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfDomicilio{{documento.id|unlocalize }}" title="Ver Comprobante de Domicilio">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfDomicilio{{documento.id|unlocalize }}" title="Ver Comprobante de Domicilio">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                            
                                                <!-- Modal con visor de PDF -->
                                                <div class="modal fade" id="pdfDomicilio{{documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfDomicilioLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pdfDomicilioLabel{{documento.id|unlocalize }}">Comprobante de Domicilio</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.comprobante_domicilio > documentos_validados_count.comprobante_domicilio %}
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Comprobante de Domicilio" hx-target="#document" hx-get="{% url 'edit-comprobante-domicilio' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    
                            </td>
                            <td class="" id="comentario_3_{{proveedor.id|unlocalize}}" tipo ="domicilio" >{% if proveedor.comentario_comprobante_domicilio %} {{proveedor.comentario_comprobante_domicilio}} {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Opinión de Cumplimiento 32D</td>
                            <td>
                             
                                        {% if documentos_count.opinion_cumplimiento == 0 %}   
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-opinion-cumplimiento' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "opinion_cumplimiento" %}
                                                    {% if documento.validado %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfOpinion{{documento.id|unlocalize }}" title="Ver Opinión de Cumplimiento">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfOpinion{{documento.id|unlocalize }}" title="Ver Opinión de Cumplimiento">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                    
                                                    <!-- Modal con visor de PDF -->
                                                    <div class="modal fade" id="pdfOpinion{{documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfOpinionLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="pdfOpinionLabel{{documento.id|unlocalize }}">Opinión de Cumplimiento</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <iframe src="{{documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.opinion_cumplimiento > documentos_validados_count.opinion_cumplimiento %}
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Opinión de Cumplimiento 32D" hx-target="#document" hx-get="{% url 'edit-opinion-cumplimiento' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                   
                            </td>
                            <td class="" id="comentario_4_{{proveedor.id|unlocalize}}" tipo ="opinion" >{% if proveedor.comentario_opinion_cumplimiento %} {{proveedor.comentario_opinion_cumplimiento}} {% endif %}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
    </div>
{% if tiene_servicio %}
    <div class="col-lg-6">
        <div class ="card mt-2 bg-white">
            <div class ="card-header">
                <h5>Servicios</h5>
            </div>
            <div class ="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre del Documento</th>
                            <th>Documento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not tiene_arrendamiento %}
                        <tr>
                            <td>Contrato</td>
                            <td>
                                        {% if documentos_count.contrato == 0 %} 
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'subir-documento-contrato' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "contrato" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfContrato{{documento.id|unlocalize }}" title="Ver Contrato">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfContrato{{documento.id|unlocalize }}" title="Ver Contrato">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                                <!-- Modal con visor de PDF -->
                                                <div class="modal fade" id="pdfContrato{{ documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfContratoLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pdfContratoLabel{{documento.id|unlocalize }}">Contratos</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.contrato > documentos_validados_count.contrato %}
                                                <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Subir Contrato" hx-target="#document" hx-get="{% url 'subir-documento-contrato' proveedor.id %}">
                                                    <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                   
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Curriculum de Servicios</td>
                            <td> 
                             
                                        {% if documentos_count.curriculum == 0 %}    
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'edit-curriculum' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "curriculum" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfCV{{documento.id|unlocalize }}" title="Ver Curriculum Vitae">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfCV{{documento.id|unlocalize }}" title="Ver Curriculum Vitae">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}


                                                    <!-- Modal con visor de PDF -->
                                                    <div class="modal fade" id="pdfCV{{documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfCVLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="pdfCVLabel{{documento.id|unlocalize }}">Curriculum Vitae</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <iframe src="{{documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.curriculum > documentos_validados_count.curriculum %}
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar comprobante" hx-target="#document" hx-get="{% url 'edit-curriculum' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        {% endif %}
                                   
                            </td> 
                            <td class="" id="comentario_5_{{proveedor.id|unlocalize}}" tipo ="cv" >{% if proveedor.comentario_curriculum %} {{proveedor.comentario_curriculum}} {% endif %}</td>                   
                        </tr>
                        <tr>
                            <td>Competencias</td>
                            <td>
                              
                                        {% if documentos_count.competencias == 0 %} 
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'subir-documento-competencia' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "competencias" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfCompetencias{{documento.id|unlocalize }}" title="Ver Competencia">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfCompetencias{{documento.id|unlocalize }}" title="Ver Competencia">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                                <!-- Modal con visor de PDF -->
                                                <div class="modal fade" id="pdfCompetencias{{ documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfCompetenciasLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pdfCompetenciasLabel{{documento.id|unlocalize }}">Competencias</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.competencias > documentos_validados_count.competencias %}
                                                <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Competencias" hx-target="#document" hx-get="{% url 'subir-documento-competencia' proveedor.id %}">
                                                    <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                   
                            </td>
                            <td class="" id="comentario_6_{{proveedor.id|unlocalize}}" tipo ="competencias" >
                                {% if proveedor.comentario_competencias %} {{proveedor.comentario_competencias}} {% endif %}
                            </td>
                        </tr>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if tiene_arrendamiento %}
    <div class="col-lg-6">
        <div class ="card mt-2 bg-white">
            <div class ="card-header">
                <h5>Arrendamiento</h5>
            </div>
            <div class ="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre del Documento</th>
                            <th>Documento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Contrato</td>
                            <td>
                                        {% if documentos_count.contrato == 0 %} 
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'subir-documento-contrato' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "contrato" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfContrato{{documento.id|unlocalize }}" title="Ver Contrato">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfContrato{{documento.id|unlocalize }}" title="Ver Contrato">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                                <!-- Modal con visor de PDF -->
                                                <div class="modal fade" id="pdfContrato{{ documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfContratoLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pdfContratoLabel{{documento.id|unlocalize }}">Contratos</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.contrato > documentos_validados_count.contrato %}
                                                <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Subir Contrato" hx-target="#document" hx-get="{% url 'subir-documento-contrato' proveedor.id %}">
                                                    <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                   
                            </td>
                            <td class="" id="comentario_7_{{proveedor.id|unlocalize}}" tipo ="contrato" >
                                {% if proveedor.comentario_contrato %} {{proveedor.comentario_contrato}} {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Factura del Bien/Predial</td>
                            <td>
                               
                                        {% if documentos_count.factura_predial == 0 %}  
                                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Credencial" hx-target="#document" hx-get="{% url 'subir-documento-factura-predial' proveedor.id %}">
                                                <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            {% for documento in documentos %}
                                                {% if documento.tipo_documento == "factura_predial" %}
                                                    {% if documento.validada %}
                                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfActa{{ documento.id|unlocalize }}" title="Ver Factura/Predial">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfActa{{ documento.id|unlocalize }}" title="Ver Factura/Predial">
                                                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                                                        </button>
                                                    {% endif %}
                                                
                                                    <!-- Modal con visor de PDF -->
                                                    <div class="modal fade" id="pdfActa{{ documento.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfActaLabel{{documento.id|unlocalize }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-xl">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="pdfActaLabel{{documento.id|unlocalize }}">Credencial/Acta Constitutiva</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <iframe src="{{ documento.archivo.url }}#zoom=80" width="100%" height="750px"></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                {% endif %}
                                            {% endfor %}
                                            {% if documentos_count.factura_predial > documentos_validados_count.factura_predial %}
                                                    <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Factura/Predial" hx-target="#document" hx-get="{% url 'subir-documento-factura-predial' proveedor.id %}">
                                                        <i class="fa-duotone fa-regular fa-cloud-arrow-up fa-xl" aria-hidden="true"></i>
                                                    </a>
                                            {% endif %}
                                        {% endif %}      
                            </td>
                            <td class="" id="comentario_8_{{proveedor.id|unlocalize}}" tipo ="factura" >
                                {% if proveedor.comentario_factura %} {{proveedor.comentario_factura}} {% endif %}
                            </td>

                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div> 
    {% endif %}
</div>

    <div class="card col-md-12 my-2">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th>Distrito</th>
                    <th>Teléfono</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Email</th>
                    <th scope="col">Banco</th>
                    <th scope="col">Clabe</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Financiamiento</th>
                    <th scope="col">Dias de Crédito</th>
                    <th scope="col">Status</th>
                    {% if usuario.tipo.proveedores %}
                    <th scope="col">Edición</th>
                    {% endif %}
                    <th>Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for direccion in direcciones %}
                <tr>
                    <th>{{direccion.distrito.nombre}}</th>
                    <td>{{direccion.telefono}}</td>
                    <td>{{direccion.contacto}}</td>
                    <td>{{direccion.email}}</td>
                    <td>{{direccion.banco}}</td>
                    <td>{{direccion.clabe}}</td>
                    <td>{{direccion.cuenta}}</td>
                    {% if direccion.financiamiento %}
                    <td>Crédito</td>
                    {% else %}
                    <td>Contado</td>
                    {% endif %}
                    <td>{{direccion.dias_credito}}</td>
                    <td>{% if direccion.estatus.nombre == "APROBADO" %}<span class="badge bg-primary">{{direccion.estatus}}</span>
                        {% elif direccion.estatus.nombre == "NUEVO" %}<span class="badge bg-warning">{{direccion.estatus}}</span>
                        {% elif direccion.estatus.nombre == "RECHAZADO" %}<span class="badge bg-danger">{{direccion.estatus}}</span>
                        {% endif %}
                    </td>
                    {% if usuario.tipo.proveedores %}
                    <td>
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'edit_proveedor_direccion' direccion.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    {% endif %}
                    <td>
                      
                        <a type="button" class="btn btn-outline-info" href="{% url 'generar-pdf-proveedor' direccion.id%}" data-bs-toggle="tooltip" data-bs-placement="top" title="Registro">
                            <i class="fa-duotone fa-solid fa-file-pdf fa-xl" aria-hidden="true"></i>
                        </a>
                      
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if proveedores_list.has_previous %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}

            {% for item in proveedores_list.paginator.page_range %}
                {% if proveedores_list.number == item %}
                    <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                {% elif item > proveedores_list.number|add:'-2' and item < proveedores_list.number|add:'2' %}
                    <li class="page-item "><a class="page-link" style="color:#3E92CC" href="?page={{item}}" class="page-link">{{item}}</a></li>
                {% endif %}
            {% endfor %}

            {% if proveedores_list.paginator.num_pages > proveedores_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="?page={{ proveedores_list.paginator.num_pages}}">{{proveedores_list.paginator.num_pages}}</a></li>
            {% endif %}

            {% if proveedores_list.has_next %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.paginator.num_pages}}"><i class="fa-solid fa-angles-right"></i></a></a></li>
            {% endif %}
        </ul>
    </nav>
<!--Este es el modal-->
        <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

            </div>
        </div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $("#id_familia").change(function () {
      const url = $("#ProductForm").attr("data-subfamilias-url");  // get the url of the `load_subfamilias` view
      const familiaId = $(this).val();  // get the selected familia ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'familia_id': familiaId       // add the familia id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subfamilias` view function
          $("#id_subfamilia").html(data);  // replace the contents of the subfamilia input with the data that came from the server
        }
      });
    });

    ;(function(){
        const modal = new bootstrap.Modal(document.getElementById('dialog'))

        htmx.on('htmx:beforeSwap',(e)=>{
            if (e.detail.target.id === "document" && !e.detail.xhr.response)
                modal.hide()
        })
    })()

    //var myModal = document.getElementById('dialog')

    document.querySelectorAll('.modal').forEach(modal => {
    modal.addEventListener('hidden.bs.modal', function () {
        setTimeout(function(){
            location.reload();
        }, 500);
    });
});

  </script>
{% endblock %}

<!--style="background-color: #D0D8DC; color:black; font-weight: bold;" -->
<!--style="background-color: #515151; color:white;"-->
<!--style="background-color: #711F1B; color:white;"-->