{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
<html>
<head>
{% block title %}{% trans "Vale Rosa" %}{% endblock %}
</head>
<body>
{% block content %}
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="col-lg-6 offset-3">
<div class="card mt-4" id="cardValeRosa">
        <div class="card-header">
            <h4>Agregar Vale {{color}}</h4>
        </div>
        <div class="card-body">
            <form method="POST" id="formValeRosa" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row my-2">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-comment"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.motivo|add_class:"form-control grupo-entrada"|append_attr:"placeholder= Motivo"}}
                                <label style="color: #121212;" for="id_comentario">{% trans "Motivo" %}*</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-comment"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.monto|add_class:"form-control grupo-entrada"|append_attr:"placeholder= Monto"}}
                                <label style="color: #121212;" for="id_comentario">{% trans "Monto" %}*</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="subir_pdf" class="row">
                    <div class="input-group mb-3" style="height:60px" >
                        {{form.comprobante_pdf|add_class:"form-control"}}
                        <label class="input-group-text" for="id_soporte" style="color:#980F0F"><i class="fa-solid fa-cloud-arrow-up"></i></label>
                    </div>
                </div>
            
                <div class="text-end">
                    <button type="submit" name="btn_valerosa" class="btn btn-outline-success" title ="Agregar Vale Rosa">
                        <i class="fa-duotone fa-solid fa-paper-plane-top fa-lx"></i>
                    </button>
                </div>
            </form>
            {% if color == "azul" %}
            <h5 class="mt-4">Vales Azules Registrados</h5>
            {% else %}
            <h5 class="mt-4">Vales Rosa Registrados</h5>
            {% endif %}
            <table class="table table-bordered">
                <thead>
                    {% if color == "azul" %}
                    <tr style="background-color: #0c5460;"> 
                    {% else %}
                    <tr style="background-color: #f8d7da;">
                    {% endif %}
                        <th>ID</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th>Eliminar</th>
                        <th>Comprobante S2</th>
                        <th>Comprobante PDF</th>
                    </tr>
                </thead>
                <tbody id="valesRosaLista">
                   {% if tipo == 'gasto' %}
                        {% for vale in objeto.vales_rosa.all %}
                        {% if vale.color == color %}
                            {% include "gasto/vale_rosa_row.html" with vale=vale %}
                        {% endif %}
                        {% empty %}
                        <tr><td colspan="4" class="text-center">Sin vales aún</td></tr>
                        {% endfor %}

                    {% elif tipo == 'viatico' %}
                        {% for vale in objeto.vales_rosa_viatico.all %}
                        {% if vale.color == color %}
                            {% include "gasto/vale_rosa_row.html" with vale=vale %}
                        {% endif %}
                        {% empty %}
                        <tr><td colspan="4" class="text-center">Sin vales aún</td></tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
</body>
</html>
