{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Actualizar Producto/Servicio{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Actualizar Artículo</h3>
                <hr>
                <form method="POST" id='ProductForm' enctype='multipart/form-data' data-subfamilias-url="{% url 'ajax_load_subfamilias' %}" novalidate>
                    {% csrf_token %}
                    <label for="form.codigo" class="col-auto col-form-label"><strong>Código: {{item.codigo}}</strong></label>
                    <br>
                    <label for="form.nombre" class="col-auto col-form-label"><strong>Producto: {{item.nombre}}</strong></label>
                    <br>
                    {{ form | crispy }}
                    <hr>
                    <a class="btn btn-outline-secondary" href="{% url 'dashboard-product' %}">Cancelar</a>
                    <input id="submit-button" class="btn btn-outline-info" type='submit' value="Actualizar">
                </form>
            </div>
        </div>

    </div>
</div>
<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando actualización de producto, por favor espera...&nbsp;<i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $("#id_familia").change(function() {
    var url = $("#ProductForm").attr("data-subfamilias-url");  // get the url of the `load_subfamilias` view
    var familiaId = $(this).val();  // get the selected familia ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'familia_id': familiaId       // add the familia id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_subfamilias` view function
        $("#id_subfamilia").html(data);  // replace the contents of the subfamilia input with the data that came from the server
      }
    });

  });
// Función para mostrar el indicador de carga y evitar el doble clic
document.getElementById('ProductForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Previene el envío inmediato

    // Mostrar el indicador de carga
    document.getElementById('loadingIndicator').style.display = 'block';

    // Desactivar el botón de envío para evitar doble clic
    var btn = document.getElementById('submit-button');
    btn.disabled = true;
    btn.classList.add('d-none');

    // Después de una breve pausa, envía el formulario
    setTimeout(() => {
        this.submit();
    }, 50);
});
</script>
{% endblock %}
