{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Producto Critico Update{% endblock %}
</head>
<body>
{% block content %}

<hr>
<hr>
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header ">
                    <h3 class="mb-0">Actualizar Producto Crítico</h3>
                </div>
                <div class="card-body">
                    <!-- Información del producto -->
                    <div class="row my-2">
                        <div id="etiqueta_domicilio" class="col-12">
                            <div class="alert alert-secondary" role="alert">
                                <h6>Código:</h6><h6 style="color: #121212;" id="lbl_domicilio">{{item.codigo}}</h6>   
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div id="etiqueta_domicilio" class="col-12">
                            <div class="alert alert-secondary" role="alert">
                                <h6>Producto:</h6><h6 style="color: #121212;" id="lbl_domicilio">{{item.nombre}}</h6>   
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div id="etiqueta_domicilio" class="col-12">
                            <div class="alert alert-secondary" role="alert">
                                <h6>Última actualización:</h6><h6 style="color: #121212;" id="lbl_domicilio">{{item.updated_at}}</h6>   
                            </div>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{req_form.requerimiento|add_class:"form-control"|append_attr:"placeholder= Requerimiento"}}
                                <label style="color: #121212;" for="id_cond_de_pago">Requerimiento*</label>
                            </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{req_form.comentarios|add_class:"form-control"|append_attr:"placeholder= Descripción"}}
                                <label style="color: #121212;" for="id_cond_de_pago">Descripción*</label>
                            </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="requirement">
                            <i class="fa fa-plus me-1"></i> Añadir Requerimiento de Calidad
                        </button>
                    </form>
                        <!-- Tabla de Requerimientos de Calidad -->
                    <h5 class="mt-5">Requerimientos de Calidad:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3">
                            <thead class="text-black" style="background-color: #F5F5F5;">
                                <tr>
                                    <th scope="col">Nombre del Requerimiento</th>
                                    <th>Comentario</th>
                                    <th scope="col">Fecha</th>
                                   
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="requerimientos-list">
                                {% for requerimiento in producto_calidad.requerimientos_calidad.all %}
                                    <tr id="requerimiento-{{ requerimiento.id }}">
                                        <td>{{ requerimiento.requerimiento }}</td>
                                        <td>{{ requerimiento.comentarios}}</td>
                                        <td>{{ requerimiento.fecha }}</td>
                                        <td>
                                            <form method="post"
                                                action="{% url 'eliminar_requerimiento_calidad' requerimiento.id %}"
                                                class="d-inline">
                                            {% csrf_token %}
                                            <!-- opcional, para volver a la misma página -->
                                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('¿Seguro que deseas eliminar este requerimiento?')">
                                                Eliminar
                                            </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <!-- Formulario principal -->
                    <form method="POST" id="ProductForm">
                        {% csrf_token %}
                        <!-- Campo de descripción editable -->
                        <div class="d-flex justify-content-end mt-4">
                            <a class="btn btn-outline-secondary me-2" href="{% url 'product_calidad' %}">Cancelar</a>
                            <input type="submit" id="submit-button" name="action" value="Actualizar" class="btn btn-outline-info" >
                        </div>
                    </form>
                

                
                </div>
            </div>
        </div>
    </div>
</div>




<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando reporte, por favor espera...&nbsp;<i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
// Función para mostrar el indicador de carga y evitar el doble clic
document.getElementById('ProductForm').addEventListener('submit', function() {
    // Mostrar el indicador de carga
    document.getElementById('loadingIndicator').style.display = 'block';

    // Inyectar hidden con el name="actualizar"
    let hidden = document.createElement("input");
    hidden.type = "hidden";
    hidden.name = "actualizar";
    hidden.value = "1"; // o "Actualizar"
    this.appendChild(hidden);

    // Desactivar y ocultar el botón
    var btn = document.getElementById('submit-button');
    btn.disabled = true;
    btn.classList.add('d-none');
});


</script>
{% endblock %}
