{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Edición de Proyectos{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Agregar Subproyecto</h3>
                </div>
                <div class="card-body">
                <h6>Proyecto: {{proyecto.nombre}}</h6>
                <h6>Descripción: {{proyecto.descripcion}}</h6>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row my-3">
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {{form.nombre|add_class:"form-control"|append_attr:"placeholder= Subproyecto"}}
                                    <label style="color: #121212;" for="id_cond_de_pago">Subproyecto*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {{form.descripcion|add_class:"form-control"|append_attr:"placeholder= Descripción"}}
                                    <label style="color: #121212;" for="id_cond_de_pago">Descripción*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {{form.presupuesto|add_class:"form-control"|append_attr:"placeholder= Monto"}}
                                    <label style="color: #121212;" for="id_cond_de_pago">Monto*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {{form.status|add_class:"form-control"|append_attr:"placeholder= Status"}}
                                    <label style="color: #121212;" for="id_cond_de_pago">Status*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-outline-secondary" href="{% url 'subproyectos' proyecto.id %}">Cancelar</a>
                    <input class="btn btn-outline-info" type='submit' value="Actualizar">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

  </script>
{% endblock %}
